[2015-12-01 19:03] cinnamoner opened #1 "Complete Transformation Pack"
Hi CM,

The repo is now structurally great. A few minor touchups could make it even greater. Long story short, it would be nice to have the boot splash, the login screen, the pointer and proper checksumming included as well.

[2015-12-01 22:30] Elbullazul commented on #1
Yes, but that artwork is static, and github is designed for dynamic releases. I don't see those two kind of artwork coexisting here. Nonetheless, I can provide download links in the wiki page for a complete pack. Plus, the pointer theme is from another guy. I just provide a link to it.

[2015-12-02 19:15] cinnamoner commented on #1
OKAY. Just do what you feel fit. I'm already a happy guy.
In another thread of thought, I wonder whether you figured out an alternative to Allan, aka scorpiox22, flooding the Look with checksums. Don't take me wrong. I appreciate what Allan does (it was me in the first place to initiate the thing), but it's got to be a better way. If I can be of any help concerning checksumming in theory and/or pr

[2015-12-02 19:30] cinnamoner commented on #1
Also, it just occurred to me that the W7 theme, initially intended to be a once off, seems to have gotten pretty dynamic. Maybe a retro branch on Git? I'm not kidding. W7 is a splendid theme.

[2015-12-02 21:25] Elbullazul commented on #1
Yes, but that means an extra repo... I don't know if I can organize it well enough

[2015-12-03 14:49] cinnamoner commented on #1
OKAY, I understand that but at least give it some thought. Thanks.

[2015-12-03 14:55] Elbullazul commented on #1
Maybe if I launch a new version of gtk (wich I highly doubt)

[2015-12-03 19:10] cinnamoner commented on #1
What's doubt today, oftentimes turns out to be certainty tomorrow. "Never say never", to quote the well-known fictional oil baron from the state of Texas.

[2015-12-03 19:14] cinnamoner commented on #1
OKAY. No chatroom. Waiting "service pack" for 0.8 to show up. Thanks.

[2015-12-04 16:15] #1 closed

[2015-12-10 16:43] CanadianJeff opened #2 "Theme Glitches in GTK"
QT apps are fine no issues
GTK apps have crappy looking buttons and sometimes the menus have borders around them

a possible fix would be to have something like this in gtk.css

[code]

[2015-12-10 17:27] Elbullazul commented on #2
Thanks for pointing this out. What DE do you use? Just asking...

[2015-12-10 18:10] CanadianJeff commented on #2
XFCE with XFWM4

[2015-12-10 23:08] Elbullazul commented on #2
I'll try your fix. Just out of curiosity, can you attach a screenshot? I'm very curious on seeing "the look" of this bug...

[2015-12-11 15:17] Elbullazul commented on #2
Here, give it a try. I replaced previous code with yours, let's see how it does : http://b00merang.weebly.com/uploads/1/6/8/1/16813022/windows_10_tp_10081.zip

[2015-12-12 08:27] cinnamoner commented on #2
OKAY CanadianJeff,

This issue might not affect Cinnamon but I'm eager to learn whether it has been satisfactorily dealt with. Please feedback asap. Just a "yes" would suffice and would bring some peace of mind. Thank you.

[2015-12-12 08:46] cinnamoner opened #3 "zip.file.checksums won't download"
Hi,

This is no major issue. Just checked again and the same error comes up. Since the sums download correctly on the B00merang site, I would say this is of marginal importance. Also, we seem to be unique in having a theme checksummed. Whole distros would usually provide SHA1 at best. Don't take me wrong: I like and want the theme with a SHA512. Thank you for implementing it.

[2015-12-12 18:17] cinnamoner commented on #2
Jeff,

I would like closure to this issue. Please tell whether it has been satisfactorily addressed or not.

[2015-12-12 18:22] CanadianJeff commented on #2
works closing this now

[2015-12-12 18:22] #2 closed

[2015-12-12 19:08] cinnamoner commented on #2
Hi CM,

Provided Jeff's fix turns out OK, how do you intend to wrap it. 0.8.1.SP1?

[2015-12-12 19:16] cinnamoner commented on #2
OKAY. Thank you Jeff. I'm glad it works. The question remains. How do we wrap the fix, if at all? Because as is, I don't consider it a release proper. Cinnamoner out. Thank you.

[2015-12-12 21:27] #3 closed

[2015-12-12 22:24] Elbullazul commented on #2
I'll see how it behaves on GNOME, cause I suspect the shadows will have disappeared. and if it's the case, I'll have to fork a specific version for Xfce

[2015-12-13 09:22] cinnamoner commented on #2
OKAY CM. Thank you.

[2015-12-14 07:06] Zerophase opened #4 "Issue with new version of libcroco"
I ran into this issue with the Windows 10 theme in Cinnamon. It could potentially effect all the desktops based on Gnome.

Here's more on the issue: https://bugs.archlinux.org/task/47367

Sounds like something might have changed with how libcroco parses css.

[2015-12-14 11:07] cinnamoner commented on #4
OKAY, thank you Zerophase. I'm sure CM will address the problem.

[2015-12-14 11:24] cinnamoner commented on #4
Hi CM,

Maybe you should freeze it feature wise until those are dealt with (counted 3 bug reports so far). Introducing new features is a good thing but they tend to bring about bugs. Almost certainly a feature upgrade release is always buggy. That's normal. It's just the way it is. But proceed as you see fit.
Thank you.

[2015-12-14 14:53] Elbullazul commented on #4
Hi @Zerophase , could you develop a bit more? I don't understand what Libcroco is. I understand upgrading hangs Cinnamon, but is that only with the Win theme?

[2015-12-14 16:38] cinnamoner commented on #4
Following with great interest.

[2015-12-14 17:31] Zerophase commented on #4
Libcroco is the css theme parsing engine.  It looks like the newest version uses .scss, in place of .css

[2015-12-14 17:43] Elbullazul commented on #4
Is the windows 10 theme the only one that crashes your computer?

[2015-12-14 17:56] Zerophase commented on #4
I think it's just Windows 10. The Mac theme would probably do it too. This is what's going on with the document format. http://stackoverflow.com/questions/5654447/whats-the-difference-between-scss-and-sass

I'm trying to figure out exactly which files need to change to get the theme working with newer versions of libcroco. I believe it just needs `.css` changed to `.scss`

[2015-12-14 17:59] Elbullazul commented on #4
Ok, can you report wich files need change? Also, is this just for arch that libcroco gets updated or everywhere else too?

[2015-12-14 18:05] Zerophase commented on #4
I can get you a list of files. Just let me play around with the theme on the newer libcroco. I think as of right now Arch is the only platform that uses the newest release of Libcroco. (Usually, they update packages first) But, it should be coming out on the other platforms within a few months.

[2015-12-14 18:06] cinnamoner commented on #4
Can you wrap your head around scss CM? Clearly has some advantages but might not be piece of cake.

[2015-12-14 18:07] Zerophase commented on #4
It's basically, the same as `css` the only difference is you can embed `css` classes within each other.

[2015-12-14 18:14] cinnamoner commented on #4
It might be the future (scss) and it's more efficient but do you master it well enough at this moment in time?

[2015-12-14 18:16] Elbullazul commented on #4
are you kidding? I just learned SCSS existed.
But if it's CSS with something else, then there's no problem.

[2015-12-14 18:17] Zerophase commented on #4
You might need to maintain two files till `0.6.10` replaces `0.6.9'

[2015-12-14 18:18] cinnamoner commented on #4
Sooner or later transition to scss should happen. Better sooner. I would take Zerophase's advice.

[2015-12-14 18:27] cinnamoner commented on #4
OKAY. I think you should first document about what scss is all about. There is an xp theme done with scss. Trying to provide a link just to point out an example.

[2015-12-14 18:43] cinnamoner commented on #4
"SCSS is really powerful and allows one to express CSS in a more compact format...pretty sure Adwaita itself has ~10000 lines of CSS (both light and dark) but this requires <5000 lines of SCSS. I personally think it's better organized as well, for instance something like this in CSS:

a {
color: white;
}

a:hover {
color: black;
}

a b {
color: green;
}

can be written in SCSS as:

a {
color: whit

[2015-12-14 18:49] cinnamoner commented on #4
I don't know whether this helps or not but I have tried.

[2015-12-14 19:15] cinnamoner commented on #4
All credit for the conversation the excerpt is part of goes to Bluedxca93 and Petrucci4prez.

[2015-12-14 19:18] cinnamoner commented on #4
So, what do you think CM?

[2015-12-14 19:29] cinnamoner commented on #4
Answer pending ... I'll be back at a later time.

[2015-12-14 20:27] Elbullazul commented on #4
Even if Adwita was coded in SCSS, my laptop has Mint 17.3 with the old libcroc package. I can't edit SCSS 'cause there's no way to render it in Mint.
I'll wait @Zerophase 's report and then probably fork a new version

[2015-12-14 22:06] cinnamoner commented on #4
I just wonder if old and new cannot be made to coexist. I don't want to push the envelope but consider your theme working with old as well as new Libcroco without forking (think hybrid). If that is not technically feasible then, of course, a fork. That means 2 branched development though. At any rate, I would like the theme to be future proof. My formulation might not be the best but I think you c

[2015-12-14 22:39] Elbullazul commented on #4
I'll see if actual GTK supports SCSS...

[2015-12-14 22:40] Elbullazul commented on #4
No support, at least of Cinnamon themes

[2015-12-14 22:55] cinnamoner commented on #4
In a nutshell, the 3 bug reports (might be wrong but counted that many) have no tangency with Mint Cinnamon 17.3 at all, right?

[2015-12-14 23:13] cinnamoner commented on #4
I might be egotistical but all I am interested in is Cinnamon having a bright future with your theme. Everyone is free to stand up for his or her favorite DE so if any of you have other preferences that's fine with me. Also, I've taken note of the GTK stuff. Thank you guys. It's been a fine day.

[2015-12-14 23:49] Elbullazul commented on #4
3 bugs? I just see one who is related to code issues...

None of this stuff affects 17.3 for the moment...

[2015-12-15 05:44] Zerophase commented on #4
Alright, so I haven't heard back from anyone on Arch. I guess I could I could write a script that just just changes the file extension to `.scss` for Arch.  Also checking in at the Linux Mint forums to see if .scss files can be parsed in their distribution. It's probably an update you won't need to make for at least a few months.

[2015-12-15 09:05] cinnamoner commented on #4
OKAY. Sooner or later scss or the lack of it in the theme might pose problems on all platforms. It just so happens that Arch seems to introduce new things first.
As for the bugs, I'll try to set the record straight:
1. Libcroco issue by Zerophase (not a bug but incompatibility with new version)
2. The GiulioMartena calendar issue in G Shell (not a bug but visual inconvenience)
3. The CanadianJeff

[2015-12-15 09:13] cinnamoner commented on #4
Also, I am no expert on Linux. Just trying to apply common sense. Seemingly with mixed results.

[2015-12-15 09:43] cinnamoner commented on #4
At present, I would issue a new release or service pack encompassing the fix for the CanadianJeff issue and what Zerophase suggested, namely two files till 0.6.10 phases out 0.6.9 entirely. And, of course, anything you see fit. Thank you for putting up with me.

[2015-12-15 10:30] cinnamoner commented on #4
Last but not least (might be on the wrong thread), I would consider implementing Zerophase's suggestion (2 files) in W7 as well.
My interventions should not be interpreted as a "do this, do that" and let me be excused for my bird eye view on a great many aspects. Thank you. Cinnamoner out.

[2015-12-15 13:37] Elbullazul commented on #4
I'm not shure on the scss, since I can't try out and verify compatibility. @Zerophase , do all the .css files need to be converted to .scss?

@cinnamoner I appreciate your enthusiasm but I'm kind of blurred, not seeing the issue or having precise info yet.

[2015-12-15 13:37] Elbullazul commented on #4
@cinnamoner as for the calendar stuff I'll have a look at it right now

[2015-12-15 14:49] Elbullazul commented on #2
Just wondering, does this fixes the buttons as well? May sound weird, but do you have murrine engine installed? I'm just wondering because I've had to fork, and this means extra work.

[2015-12-15 14:52] Elbullazul commented on #2
No shadows on GNOME @cinnamoner . I'll have to fork for the moment

[2015-12-15 16:51] cinnamoner commented on #4
Enthusiasm yes. You can say that again. I'm thinking about the theme day in and out. As for the momentary blur, it's just that. I am sure you can sort things out, eventually.

[2015-12-15 17:06] cinnamoner commented on #4
Undoubtedly, Zerophase is the core player on this thread. But if any of you reading this have relevant insight, please don't hesitate and join!

[2015-12-16 06:56] Zerophase commented on #4
So, I got it working with the latest version libcroco by renaming all `.css` files for the theme to `.scss`, but I just get the default Cinnamon desktop now. At least I can get into the desktop. I'll have to dig around some more to see which files should be which format.

[2015-12-16 07:39] Zerophase commented on #4
Looks like the only file that needs to be changed to get the desktop to boot up is `cinnamon.css`, but still the taskbars fallback to the default cinnamon colors, and I don't believe nemo looks quite right.

Nemo:
![homeimage](https://cloud.githubusercontent.com/assets/4284284/11834850/a37a789e-a395-11e5-8e80-682231abe872.png)

Tasbar:
![taskbar](https://cloud.githubusercontent.com/assets/4284284/

[2015-12-16 12:55] Elbullazul commented on #4
great! I think maybe you'll have to rename the files in these folders too :
*- third-party-APPLET-stylesheets *
*- third-party-DESKLET-stylesheets *
*- third-party-EXTENSION-stylesheets  *

Those are CSS files as well, maybe that's why Cinnamon doesn't read the main file as it should?

also, GTK themes work fine without the scss conversion?

[2015-12-16 12:57] Elbullazul commented on #4
I think nemo looks as it should :

http://b00merang.weebly.com/uploads/1/6/8/1/16813022/3900807_orig.png

[2015-12-16 13:50] Zerophase commented on #4
Well, I renamed everything to use `scss`, and edited `cinnamon.scss` to reflect the changes. Everything looks correctly now, except for the taskbars. (same as it was before) I don't know what else I need to add to `cinnamon.scss`.

[2015-12-16 15:46] cinnamoner commented on #4
Following with great interest.

[2015-12-16 15:56] cinnamoner commented on #4
Experimental approach might not work or not produce desired results that quickly. I think of external reference. But it needs to be tracked down.

[2015-12-16 16:43] Zerophase commented on #4
I can't really find much documentation on libcroco.

[2015-12-16 17:06] cinnamoner commented on #4
OKAY. I'll try to bring in more people. Linux is all about helping each other out, right?

[2015-12-16 17:24] dontspamm opened #5 "ubuntu ppa ?"
are there any plans to add a PPA ?

[2015-12-16 17:28] Elbullazul commented on #5
hi @dontspamm , I have no idea of how to build a PPA, but I'm very interested in having one. But, like I said, no idea of how. I may have a look at it now that you mention it.

[2015-12-16 18:48] cinnamoner commented on #4
OKAY. I've changed my mind. Linux is not just about helping each other out. Coming from Look. I wonder how little brains is little enough to vote a theme down.

[2015-12-16 19:24] Elbullazul commented on #5
sorry, requires programming an installation script, and I'm not there yet. You may want to try Noobslabs's PPA : http://www.noobslab.com/2015/09/do-you-like-windows-10-look-but-love.html

[2015-12-16 20:02] Zerophase commented on #4
Looks like it might be an issue with libcroco, once again.  This is going to take a few days to figure out. https://bbs.archlinux.org/viewtopic.php?id=206287

[2015-12-16 20:17] cinnamoner commented on #4
@Elbullazul,

You are mature enough to realize that those votes (up or down) don't count for anything. The sole problem with democracy is that it allows idiots to cast a vote. If I were you, I would disengage from Look altogether. I just wonder what motivates you. There are much more meaningful ways to get motivation from. As for value, I almost always find it where least advertised. There are tim

[2015-12-16 20:33] cinnamoner commented on #4
@Zerophase
"Looks like it might be an issue with libcroco, once again. This is going to take a few days to figure out."
It doesn't matter Zerophase; where there's a will there's a way. We'll wait it out. We as in "us who know what value is".

@Elbullazul
Please feel free to delete my previous comment. You'll prevail becasuse you have it in you. Idiots pushing value down have to be ignored.

[2015-12-16 20:37] Elbullazul commented on #4
@cinnamoner thanks for those words of enthusiasm. I just keep on Look because it's the platform for "main linux themes" and while the theme won't be very known I'll let the theme over there. Maybe after too, but just providing a link to here, who knows?

I'm a bit worried about negatives because Look automatically deletes themes with low average voting, that's it

[2015-12-16 20:38] Elbullazul commented on #4
@Zerophase well, I hope you can rebuild soon. Sorry for the troubles caused.

[2015-12-16 22:17] cinnamoner commented on #4
@Elbullazul
Got it. On the other hand though, I'm just one guy me and as such can't vote twice. But if you want an army of upvoters to overwhelm everything in their way, that I can set up. Joking of course and I know you see my point. I'm considering to delete my latest comments now that they've got stored.

[2015-12-16 22:36] cinnamoner commented on #4
@Elbullazul
From now on I'll try to stick to the issue at hand.
@Zerophase
Sorry for hijacking your thread. I apologize for the annoyance.

[2015-12-17 11:45] cinnamoner commented on #4
"so I think I get the gist of the thread, but just to clarify...you guys know that the gtk3 theme parser doesnt actually read the scss files right?" The quotation comes from Petrucci4prez.

[2015-12-17 12:37] cinnamoner commented on #4
@Elbullazul
Just felt the need to reedit some comments. Just not worth it.

[2015-12-17 14:51] Zerophase commented on #4
With the newest version of libcroco released today the css files once again work.

[2015-12-17 15:00] Zerophase opened #6 "Noticed the Windows icon in Nemo doesn't show up."
Looking at other picture of the theme I noticed in the file view selection in the upper right hand corner of Nemo isn't showing up.  I believe there's supposed to be a windows icon visible there. It looks like it's there but very faint, currently.

![fileicon](https://cloud.githubusercontent.com/assets/4284284/11872736/8c0e7a90-a49c-11e5-8a5d-a8e09d316ebe.png)

[2015-12-17 15:42] Elbullazul commented on #4
Great! so it was just a problem with libcroco ?

[2015-12-17 15:44] Elbullazul commented on #6
Yes, I know, the theme was built for shell and on the favorites bar to the left, it was clearly visible (because bg was black)

I'll check if I can turn that icon blue or something.

Thanks for posting about this one.

[2015-12-17 16:51] Zerophase commented on #4
Yeah.

[2015-12-17 16:51] #4 closed

[2015-12-17 17:09] #5 closed

[2015-12-17 18:14] cinnamoner commented on #6
@Elbullazul
Yeah, blue would be just fine. The kind of blue used for the start button logo in Brahim's (optimimized) theme.

[2015-12-19 01:18] Zerophase commented on #6
@Elbullazul That's cool.

[2015-12-19 22:18] cinnamoner commented on #6
@Elbullazul
Just dropped in to reassure you that my interest for the theme is greater then ever. Please continue the good work. I am with you every step of the way. Thanks.

[2015-12-19 23:04] cinnamoner commented on #6
@Elbullazul
OKAY. I am looking at the bar indicating occupied space on disk in W10 file manager (the "real thing"). Wonder if that could be brought into Nemo somehow. Just looks cool. What do you think? Doesn't have to be perfect match just close enough.

[2015-12-20 03:38] Elbullazul commented on #6
@cinnamoner can you include a screenshot of the feature you would like please?

thanks,

[2015-12-20 21:01] cinnamoner commented on #6
http://b00merang.weebly.com/uploads/1/6/8/1/16813022/3785536_orig.png

[2015-12-20 21:33] cinnamoner commented on #6
Are you planning for a X-mas Edition?

[2015-12-20 21:40] cinnamoner commented on #6
As for the color of icon the thread is all about: either the color I've just referred to or the color from W10 bootsplash. Both seem good choices to me but I trust your taste better.

[2015-12-21 02:32] Elbullazul commented on #6
@cinnamoner I think the bootsplash color would be a nice one.

As for the disk space stuff, I'm sorry, but there's no way to do that, unless we could somehow build a patch for nemo to add this feature.

[2015-12-21 03:48] Zerophase commented on #6
It might be possible to make Gnome System Monitor prettier. We'd have to build a plugin to add that feature to nemo.

[2015-12-21 07:50] cinnamoner commented on #6
@Elbullazul
OKAY then. The W10 bootsplash color it is. Upon reflecting, I like it better me too.

[2015-12-21 07:55] cinnamoner commented on #6
@Zerophase
Yup. That's a Nemo specific suggestion, I agree.

[2015-12-21 23:01] cinnamoner commented on #6
OKAY. Just coming from Otherstuff's. Guess what, he gave the theme a bit of coverage. On his favorite Mate DE. Not exactly what this thread is about (@Zerophase: let me be excused) but I'm glad to mention it. Of course, you might have already seen what I'm talking about. And what's up with you guys? Nothing obvious has been going on here for a whole day here. Maybe preparing for Christmas, like ev

[2015-12-21 23:17] cinnamoner commented on #6
As for the bar stuff in Nemo, that's not all that important. Let's just fix the icon the thread is about and whatever (@Elbullazul) you see fit. I've seen calendar issue again on Look or haven't I? Time to be in jolly mood guys. Christmas Edition ... rambling ... Cinnamoner out.

[2015-12-22 01:15] Elbullazul commented on #6
@cinnamoner could you please attach a link? I would like to see that.

Well, Xmas edition would be nice if there was something new to add, until now versions after v0.8 are just bug fixes...

I've updated the calendar stuff, I'm now uploading the new files and cooking the new release on Git

To you @cinnamoner and to you @Zerophase a merry Christmas and a happy new year, thanks for your invaluable

[2015-12-22 08:40] cinnamoner commented on #6
http://m.youtube.com/watch?v=056O13Hkgbg

[2015-12-22 08:50] cinnamoner commented on #6
http://m.youtube.com/channel/UCQpkMe-SLNg0HwWCP3eeTxw

[2015-12-22 08:52] cinnamoner commented on #6
Or just type otherstuff linux in You Tube.

[2015-12-22 19:39] cinnamoner commented on #6
@Elbullazul
So, what do you think 'bout the video. Might not be much but I find it relevant.

[2015-12-22 21:10] Elbullazul commented on #6
@cinnamoner well, it's a little more visibility for the theme, but it's just that, visibility. Thanks for the link!

maybe for christmas I'll upload websites stats as a gift xD

[2015-12-22 21:12] Zerophase commented on #6
@cinnamoner Thanks. Same to you. Yeah, the themes definitely good. It's pretty popular on Arch. I wouldn't solely rely on those gnome looks numbers.

[2015-12-22 21:56] cinnamoner commented on #6
@Zerophase
The Gnome Look numbers = 0 to me. My point exactly.

[2015-12-22 22:10] cinnamoner commented on #6
@Elbullazul
No need to convince me. I wouldn't have spent my time with a theme that is not exceptional. Just carry on and old Cinnamoner will be happy.

[2015-12-22 22:21] cinnamoner commented on #6
@Elbullazul
@Zerophase
I haven't checked yet the icon the thread is about but I assume it's been dealt with elegantly.

[2015-12-23 18:49] cinnamoner commented on #6
@Elbullazul
What are you cooking? If I may.

[2015-12-23 21:06] cinnamoner commented on #6
@Zerophase
I downloaded 0.8.3 but I haven't got the opportunity to check it out. I've been mostly (still am) mobile lately. And I don't quite get it. Has the Nemo icon issue been solved or just the calendar. If it has and if not much trouble, could you please put up a screenshot with it. Just childishly curious how it's turned out. Thank you.

[2015-12-23 21:11] cinnamoner commented on #6
@Elbullazul
Idem. Thank you.

[2015-12-23 21:28] cinnamoner commented on #6
From what I'm reading here, the much debated icon in Nemo is still cooking. Might be wrong though.

[2015-12-24 00:02] Elbullazul commented on #6
Icon Pack v0.2.2 fixes this

[2015-12-24 00:02] #6 closed

[2016-01-11 19:44] Zerophase opened #7 "Preferences icon larger than others in drop down menus."
In all of the right click menus the preferences icon is larger than the other icons in Cinnamon. To reproduce the issue go to themes, and turn on show icons in menus. Then right click an app for a drop down menu.

![menu_005](https://cloud.githubusercontent.com/assets/4284284/12244412/252343ac-b869-11e5-8e70-7080ebfb20e2.png)

[2016-01-11 21:28] Elbullazul commented on #7
I'll have a look, I haven't really logged into cinnamon lately.

[2016-01-11 22:25] Elbullazul commented on #7
Can you precise where's the file you right-click? I get this icon :
![capture du 2016-01-11 17 23 51](https://cloud.githubusercontent.com/assets/15310985/12248567/476b0ade-b888-11e5-86e5-02ccb81f0c44.png)

[2016-01-11 22:50] Zerophase commented on #7
I know it happens with quake, clipit, and shutter.

[2016-01-12 01:40] Elbullazul commented on #7
This is my guake...
![capture du 2016-01-11 20 38 40](https://cloud.githubusercontent.com/assets/15310985/12252238/72a85aba-b8a3-11e5-943a-ffd231e520aa.png)

[2016-01-12 03:50] Zerophase commented on #7
Hmm, I wonder if the icon pack didn't install correctly.

[2016-01-12 03:54] Zerophase commented on #7
Alright, it's just the directory having the wrong name.

[2016-01-12 03:54] #7 closed

[2016-01-12 14:01] Elbullazul commented on #7
Glad everything is ok :)

[2016-01-12 20:14] feren opened #8 "Cinnamon Settings' Icons and th2 update"
Add icons for Cinnamon Settings and update most icons with the ones found in Windows 10 th2...

[2016-01-12 20:46] Elbullazul commented on #8
Iyes, we've been thinking about this for a while. I'll try to find time to do it this week, but having to do it manually is very  time-consuming.

[2016-01-14 14:59] cinnamoner commented on #8
@Elbullazul & @feren

I'm interested in this myself.

[2016-01-14 16:11] Zerophase commented on #8
I think there's a script that will parse, and rip icons from the windows installer. Not sure how legal making the icons that way is.

http://www.muflone.com/gextractwinicons/english/

[2016-01-14 16:25] Elbullazul commented on #8
@Zerophase that sounds interesting, I'll have a look...

[2016-01-14 21:18] Elbullazul commented on #8
Downloaded Icons from Icon8.com, let's see how this goes...

[2016-01-14 22:40] cinnamoner commented on #8
Hi guys,

Following progress with great interest ...

[2016-01-16 00:28] cinnamoner commented on #8
http://alternativeto.net/software/iconsextract/

[2016-01-16 00:40] cinnamoner commented on #8
http://alternativeto.net/software/icofx/

[2016-01-16 00:42] cinnamoner commented on #8
@Elbullazul
Caution advised

[2016-01-16 00:54] cinnamoner commented on #8
@Elbullazul
Caution advised

[2016-01-16 10:20] cinnamoner commented on #8
http://alternativeto.net/software/get-icons/

[2016-01-16 13:37] cinnamoner commented on #8
http://www.ilovefreesoftware.com/29/featured/icon-extractor-software-for-windows-10.html

[2016-01-16 14:56] cinnamoner commented on #8
http://www.howtogeek.com/109347/extract-high-quality-icons-from-files-using-a-free-tool/

[2016-01-16 15:10] cinnamoner commented on #8
Or 30-day trialware:
http://icofx.ro/

[2016-01-16 15:14] cinnamoner commented on #8
Disclaimer (aka chickening out): Well, of course, for research purposes only.

[2016-01-19 00:40] Elbullazul commented on #8
No luck, just found ol' icons already included :(

as for the cinnamon settings, I'll have a look as soon as I can to it

[2016-01-20 00:04] cinnamoner commented on #8
@Elbullazul
Have a little patience. I might have an idea.

[2016-01-20 00:24] Elbullazul commented on #8
@cinnamoner expose your idea, it might be helpful...

[2016-01-21 09:53] cinnamoner commented on #8
@Elbullazul
You haven't said what are the shortcomings of the app Zerophase had pointed to. As in 1); 2); 3); etc. Make sure you don't omit anything. Thanks.

[2016-01-21 21:33] cinnamoner commented on #8
@Elbullazul
IcoFX. Run a search ...

[2016-01-21 22:48] Elbullazul commented on #8
@cinnamoner sounds useful, but I don't see where I would find time to do this except weekends. Thanks for the link b.t.w.

I'll try first to :
1) Change the power buttons
2) Create tiles for Cinnamon Settings
3) Include more icons or diversify names to include more apps.

[2016-01-22 16:16] cinnamoner commented on #8
@Elbullazul
OKAY. That sounds good.

[2016-01-22 17:25] isality opened #9 "opaque indicators xfce 4.12"
Hello!

System indicators are grayed out. Can I make them transparent or black?

Theme: win10 dark.

Thanks.
![_2016-01-22_20-23-15](https://cloud.githubusercontent.com/assets/16147914/12517882/396ce576-c146-11e5-9f8d-e79171e09930.png)

[2016-01-22 21:58] Elbullazul commented on #9
Yes, go to ~/themes/Windows 10/gtk-2.0/apps and open gnome-panel.rc

There you can edit hex values. Have fun :)

[2016-01-22 22:43] isality commented on #9
Say the line number please. I could not find the line that refers to the color of the indicator.

[2016-01-22 23:32] Elbullazul commented on #9
It's bg[PRELIGHT] = "#1f1f1f"

Change the hex value or remove the line and you're done.

[2016-01-23 14:38] #9 closed

[2016-01-24 02:50] Elbullazul commented on #9
Hi there,

Would you mind sending a link to your WP? It looks very nice!

[2016-01-24 03:03] Elbullazul commented on #8
Added support for Thunar icon... May not entirely work thought.

[2016-01-24 22:19] cinnamoner commented on #8
@Elbullazul
So, basically, you're saying that you've taken out a hammer and replaced it with a folder-like something. Okay, works for me!

[2016-01-25 08:24] isality commented on #9
https://drive.google.com/file/d/0B0Cx0i4f4frHUXdmWjZlckxPX0U/view?usp=sharing

[2016-01-25 16:56] cinnamoner commented on #8
@Elbullazul
I admit I like those icons but maybe you should consider creating an icon pack of your own. Something different but equivalently beautiful. Just a thought.

[2016-01-25 17:15] cinnamoner commented on #9
@isality
Beautiful wallpaper. Do you have more of the like?

[2016-01-25 22:44] cinnamoner commented on #8
@Elbullazul
It will, eventually.

[2016-01-26 12:28] isality commented on #9
@cinnamoner
Maybe it will be interesting!

https://drive.google.com/open?id=0B0Cx0i4f4frHdFRiNDBxd0RSanc

[2016-01-26 14:07] Elbullazul commented on #8
![capture du 2016-01-26 09 02 00](https://cloud.githubusercontent.com/assets/15310985/12582572/fcfc20e8-c40b-11e5-9768-61fe96b75e8b.png)

*we're slowly progressing in our work. The old XP-like session buttons are gone!!!*

[2016-01-27 16:21] cinnamoner commented on #8
@Elbullazul
Interesting ...

[2016-01-27 16:33] cinnamoner commented on #9
@isality
Thank you very much.

[2016-01-27 16:35] cinnamoner commented on #8
@Elbullazul
https://github.com/Elbullazul/Windows-10/issues/9#issuecomment-174980774

[2016-01-27 16:41] cinnamoner commented on #9
@isality
I've just referenced. I hope you don't mind. Thanks again. We seem to share similar tastes.

[2016-01-28 09:05] cinnamoner commented on #8
@Elbullazul
I'm not saying those session buttons ain't good but consider looking at those in Makulu Aero 10. Just look at 'em. The choice is yours. On the other hand, I'll check what they look like in the Well-known.

[2016-01-28 10:44] cinnamoner commented on #8
@Elbullazul
http://1.bp.blogspot.com/-ob12Ebsm16o/VnB482O8O8I/AAAAAAAAK_Y/CdAhPSqYThM/s1600/menu.png

[2016-01-28 11:24] cinnamoner commented on #8
Ugh ...
http://www.digitalcitizen.life/7-ways-shut-down-or-restart-windows-10-pc-or-device

[2016-01-28 12:23] isality commented on #9
@cinnamoner
It's my pleasure! Thanks.

[2016-01-28 15:36] Elbullazul commented on #8
@cinnamoner Windows X has no log-out or sleep icons, that's why (I guess) they left the old XP-ones

I didn't like the logout button, I think I'll rather try to "flatten" they key icon from the original and reshape it a little

[2016-01-28 22:08] cinnamoner commented on #8
@Elbullazul
That's a good idea, yeah.

[2016-01-29 19:22] Elbullazul commented on #8
![capture du 2016-01-29 14 22 01](https://cloud.githubusercontent.com/assets/15310985/12685670/bd35e20c-c693-11e5-82dc-d174304b1f3a.png)

look at the background and applets icons...

[2016-01-29 21:57] greenlaw110 opened #10 ":checked pseudo class cause warning"
I got the following warning messages when starting gtk app from console:

[code]

The issue is at the following lines in gtk-widgets-assets.css:

![image](https://cloud.githubusercontent.com/assets/216930/12689196/51261da6-c72f-11e5-9c2a-0cf2d04e22b4.png)
![image](https://cloud.githubusercontent.com/assets/216930/12689202/5d0fe700-c72f-11e5-9a8c-88bc7a1f67b7.png)
![image](https://cloud.githubuserc

[2016-01-29 22:45] cinnamoner commented on #8
@Elbullazul
One step closer to "perfection". I'm sure you've put a lot of effort into it. Thank you. Makes me very happy.
@feren
Well, how does it seem to you?

[2016-01-29 22:51] cinnamoner commented on #10
@greenlaw110
That's good to know.

[2016-01-30 21:06] cinnamoner commented on #8
@Guys?

[2016-01-31 02:16] Elbullazul commented on #10
@greenlaw110 thanks for pointing this out. I'll fix this in next version after checking nothing else breaks.

[2016-01-31 18:58] cinnamoner commented on #8
@Elbullazul
I'll wait it out with patience. No need to rush it. But I expect excellence and I know you can do it.

[2016-01-31 19:33] Elbullazul commented on #8
@cinnamoner it's already published here : https://github.com/Elbullazul/Windows-10/releases/tag/v0.9

Next builds will modernize stoke old icons and add some application icons

[2016-01-31 21:30] greenlaw110 commented on #10
@Elbullazul No worries. I really appreciate your work, it is amazing! Looking forward to seeing your new version. BTW, have you thought about creating a Materialized transformation pack, kind of something like http://papyros.io/

[2016-01-31 22:19] Elbullazul commented on #10
@greenlaw110 yeah, I already got asked that question. I'm working on it

[2016-01-31 22:24] greenlaw110 commented on #10
@Elbullazul you are awesome!

[2016-01-31 23:53] cinnamoner commented on #8
@Elbullazul
I knew the very second it appeared on Git. And is great work. From what I've gathered you do intentend to refine it even further. That's what I was referring to. My perfectionism is an annoyance to myself and to the people around me.

[2016-02-01 00:27] Elbullazul commented on #8
nah, it's fine. Just enjoy the new icons :)

[2016-02-01 00:46] Elbullazul commented on #10
@greenlaw110 can you tell me if this is good enough for you?

http://www.mediafire.com/download/b6krorpaa8fp7mr/WinX_TP_Build_01161.zip

**Warning:** I have to install lxappearance for the moment, but it doesn't break anything. I also have to use a lot of sudo to copy to /usr/share/icons or /themes, but you can review the code without problem.
[Uploading WinX_TP_Build_01161.zip…]()

[2016-02-01 01:19] greenlaw110 commented on #10
hey I've unpacked the package into my ~/.themes folder and tried it. Here is the screenshot, you need to download to get the clear version: http://ge.tt/97Ao5BX2/v/0

The comments:
1. the ":checked" issue is still there
2. As like the previous version, there is a blue underline under EVERY running application in the task panel, which is a bit annoying. I expect that only the application receive th

[2016-02-01 01:56] Elbullazul commented on #10
the upload was interrupted it says...

1) was just an installation pack with the current version
2) winx works like that, sorry. You can, however, replace the asset by a completely transparent svg file named *bottom-item-active-hover.svg* in win_x_folder/cinnamon/panel-assets/

[2016-02-02 20:53] cinnamoner commented on #10
@greenlaw110
Thanks for creating the present thread. Deployment of the whole package is now way easier. And thanks for pointing out those warnings.
@Elbullazul
Some might like the installer, some might not. Both parties should be granted satisfaction.

[2016-02-02 21:03] cinnamoner commented on #10
@Elbullazul
Not a big deal but I'm looking forward to it. Probably not enough to release a new version though.

[2016-02-13 17:20] feren commented on #8
Thanks, BTW, th2 introduced a new personalization icon so you may want to change the 'Themes' icon to that...

[2016-02-13 20:28] cinnamoner commented on #8
@feren Nice to have you back.
@Elbullazul Maybe in 0.4, right? Are you planing for 0.4? I case you are, when to expect it?
@feren It's been a long time since I first read "th2". Please tell me what on earth "th2" stands for.

[2016-02-14 04:15] Elbullazul commented on #8
@feren I'm working on it as well as new icons. ..

[2016-02-14 04:16] Elbullazul commented on #8
@cinnamoner I guess it's second release (build 1511)

[2016-02-14 23:05] Elbullazul commented on #10
fix included in build for v0.9.1

[2016-02-14 23:05] #10 closed

[2016-02-14 23:07] Elbullazul commented on #8
![capture du 2016-02-14 18 06 27](https://cloud.githubusercontent.com/assets/15310985/13037053/b1d5db60-d345-11e5-8e58-c957dfa90bca.png)

@feren icons included, adding some more then releasing v0.4

[2016-02-15 08:53] midsum opened #11 "Xfce black backgroud window"
hi, love your windows 10 theme, been using it couple a days and i think it's probably the best looking theme for xfce right now..
small issue with the 'add new items' window for the xfce panel. background completely black and as far as i can tell it's the only window to display this behaviour.
anyway, great work so far hope you keep it up!
![screenshot_2016-02-15_10-35-36](https://cloud.githubuser

[2016-02-15 13:00] Elbullazul commented on #11
yes, I know about this. In fact, I made it look pitch black because before it looked uglier :

https://cloud.githubusercontent.com/assets/2737980/10895126/2619138e-81bb-11e5-8494-424e7d44eb25.png

it's a problem on how xfce organizes apps, because it includes this particular window as a panel class

[2016-02-15 13:00] #11 closed

[2016-02-16 13:56] cinnamoner commented on #8
@Elbullazul
Wow! Way better. I cannot contain my excitement.
By the way, I've figured out what "th2" stands for.

[2016-02-16 14:03] cinnamoner commented on #8
@Elbullazul
I'm very glad to know 0.4 is just around the corner. Take your time though. No need to rush it.

[2016-02-16 19:59] cinnamoner commented on #8
@Elbullazul
The applets and desklets icons don't illustrate what they should. Consider changing 'em.

[2016-02-17 02:18] greenlaw110 opened #12 "Highlight line under every taskbar button that track the open window"
See the screen capture:
![image](https://cloud.githubusercontent.com/assets/216930/13097807/8518a2ee-d578-11e5-83c4-dd1837004832.png)

This happened on every version including the latest v0.9.1

[2016-02-17 02:20] greenlaw110 commented on #10
It looks like I still got the issue with v0.9.1:
![image](https://cloud.githubusercontent.com/assets/216930/13097884/354ec2f6-d579-11e5-8223-d5b4f0fb7429.png)

[2016-02-17 02:24] Elbullazul commented on #10
@greenlaw110 I forked the preview before the fix. However, it's included on the stable branch.

[2016-02-17 02:28] Elbullazul commented on #12
![windows-10-taskbar](http://www.howtogeek.com/wp-content/uploads/2015/08/536x286xhtf3.png.pagespeed.gp+jp+jw+pj+js+rj+rp+rw+ri+cp+md.ic.9g88cqqC38.png)

However, on earlier versions of the theme, this wasn't the case :
![windows-10-theme-v0.4.2](http://b00merang.weebly.com/uploads/1/6/8/1/16813022/2624054_orig.png)

I suggest you reuse older cinnamon themes found at our archive here : https://git

[2016-02-17 07:07] cinnamoner commented on #8
@Elbullazul
Starting to look really good.
I understand your experimenting with gray but please no gray and no gray contextual menu in the final build. However, it's your brainchild and fell free to proceed as you see fit.

[2016-02-17 07:41] cinnamoner commented on #8
Elbullazul released this 18 days ago

@Elbullazul ?!

@Elbullazul Spelling out the checksums the way you did is a better approach than having 'em in a downloadable file. But it's advisable to spell out the name of the algorithm you use as well.

[2016-02-17 09:28] cinnamoner commented on #8
http://mare-m.deviantart.com/art/Windows-10-Theme-for-Windows-7-500491733
http://sagorpirbd.deviantart.com/art/Windows-10-Themes-for-Win-7-Final-489257538
http://sagorpirbd.deviantart.com/art/Windows-10-Themes-for-Win-8-8-1-Final-527873187

@Elbullazul
You're probably aware of those. I haven't checked 'em so I don't know whether they are fit as a source of inspiration or not. Probably Well-known i

[2016-02-17 09:37] cinnamoner commented on #8
@Elbullazul
Nice figure of speech.
Obviously, there are an infinite number of whites. Arguably, the one used in Well-known is the best choice though.

[2016-02-17 14:05] Elbullazul commented on #8
good point, I'll do that

I use "the real thing" for inspiration

[2016-02-17 16:15] Elbullazul commented on #8
@cinnamoner Somewhere I read you asked for better applet & desklet icons. Your wish become true :
![capture du 2016-02-17 11 06 30](https://cloud.githubusercontent.com/assets/15310985/13115850/7edff172-d567-11e5-8857-31bb1244e72f.png)

[2016-02-17 19:50] cinnamoner commented on #8
@Elbullazul
Applet & desklet icons are really awesome now. They are truly up to my expectations. Wasn't wrong about you. You never cease to amaze me. It is unbelievable that two icons can bring happiness into a person but they just have. I hope you're open to further suggestions. Not right now though. Thank you.

[2016-02-17 20:04] cinnamoner commented on #8
@Elbullazul
Okay. I can't help myself. Icons should unambiguously illustrate the words at the bottom. I won't get into details now but I will tomorrow. You're on the right track. I probably have all your tools but I lack your talent.

[2016-02-17 23:54] #12 closed

[2016-02-18 19:25] cinnamoner commented on #8
@Elbullazul
I don't have a global picture of Paramètres système but I'll give it a try, based on the dark shot and the white one. There it goes:
1. Économiseur d'écrain: beautiful icon but not really suggesting the concept of a screensaver. I admit this is a tough one.
2. Couleur: fairly good but consider putting those tiny little colored squares or color grid (whatever) on the screen of that moni

[2016-02-18 20:01] Elbullazul commented on #8
@cinnamoner for the startup icon I took the one included in Win10. Plus, I never had a particular idea for that icon

The screensaver one will be tough!

the other twos are already under transformation

[2016-02-18 20:52] Elbullazul commented on #8
![capture du 2016-02-18 15 52 07](https://cloud.githubusercontent.com/assets/15310985/13157743/95568cea-d657-11e5-82af-a9d5cf539dfb.png)
how about this @cinnamoner ?

[2016-02-18 23:16] cinnamoner commented on #8
@Elbullazul
Truth to tell, I had a rough day and I've got a headache. But since you asked, there it goes: too much blue side by side and blue symbols on blue globe. Try to have an organic view. Look at the whole Paramètres système as you would look at a painting. I'll comment on every single icon tomorrow.

[2016-02-18 23:30] cinnamoner commented on #8
@Elbullazul
This is artwork not algebra. You're being too analytical. Try to think less and feel more.

[2016-02-18 23:33] cinnamoner commented on #8
@Elbullazul
I hope you're laughing 'cause it was partly meant that way.

[2016-02-19 01:07] Elbullazul commented on #8
@cinnamoner I personally prefer the newer language icon.  v0.4 is just around the corner

[2016-02-19 17:32] Elbullazul commented on #8
I thought I was finishing but I suddendly decided to add more icons...

[2016-02-19 17:42] cinnamoner commented on #8
@Elbullazul
Wise decision. Okay, let me have some coffee. I'll be back shortly ...

[2016-02-19 19:17] cinnamoner commented on #8
@Elbullazul
1. The "extensions" icon in the first two screenshots of Paramètres système, where you say:
"feren done! how do you like it?" is better.
2. Your latest "Languages" is OK, but those symbols on the blue globe shouldn't be blue. Try instead some kind of violet for 'em.
3. Your latest "Colors" icon is awkwardly overengineered. The previous one was better. I suggest just to put some color s

[2016-02-19 19:27] cinnamoner commented on #8
If you so strongly want a color gradient, that's fine too. Just make sure you cover all the screen of the tiny monitor with it. Vertical color stripes are a better idea though (make sure you respect the order of wavelengths).

[2016-02-19 19:58] Elbullazul commented on #8
@cinnamoner sorry, the language icon won't change, at least for the moment; it was too much work.
I'll reput the extension but with a flat gear.

color picture looks like this now :
![cs-color](https://cloud.githubusercontent.com/assets/15310985/13187480/3fee509a-d719-11e5-9724-7232202cb46c.png)

[2016-02-19 19:59] cinnamoner commented on #8
@Elbullazul

Take violet in a broader sense: violet, amethyst, indigo ... experiment ... has to look OK on the dark theme as well.

[2016-02-19 20:06] Elbullazul commented on #8
![preferences-desktop-locale](https://cloud.githubusercontent.com/assets/15310985/13187647/6145d7b2-d71a-11e5-9725-110529132cc9.png)

@cinnamoner how about this?

[2016-02-19 20:11] cinnamoner commented on #8
@Elbullazul
Color icon is great now.

That one sounds good.

Fair enough.

Thank you. Your work is tremendously appreciated.

[2016-02-19 20:14] Elbullazul commented on #8
thanks for the feedback @cinnamoner !

releasing in a few minutes v0.4 with 528 new or refurbished (?) icons!

[2016-02-19 20:19] cinnamoner commented on #8
@Elbullazul

Those symbols on the blue globe should not be blue as well. But proceed as you see fit.

[2016-02-19 20:21] cinnamoner commented on #8
Great. Thank you man. You're awesome!

[2016-02-19 21:36] cinnamoner commented on #8
@Elbullazul
Is there something wrong with Git? 'Cause it says about latest release:

[2016-02-19 21:46] cinnamoner commented on #8
And about Technical Preview prerelease, it says:

It's the other way around. Or am I missing something?!

[2016-02-19 21:55] Zerophase opened #13 "Gap between start menu and edge of screen."
In the latest release I noticed that the preview image doesn't have a tiny gap, like my screen does.
I tried zooming in on your image, and couldn't see the wallpaper in that gap.  Could it be an issue with adjusting the menu size based on screen size? I'm on a 1920 x 1080 screen with an aspect ratio of 16:9

preview image:

![Image of preview]
(https://cloud.githubusercontent.com/assets/15310985/1

[2016-02-19 21:57] cinnamoner commented on #8
@Elbullazul
Might be a glitch. I don't get it. It keeps updating the time but ... it's persistent.

[2016-02-19 22:12] cinnamoner commented on #13
This also interests me 'cause I'm switching to 1080p any time now.

@Zerophase I salute you.

[2016-02-19 22:16] greenlaw110 commented on #13
Just curious is this theme for mint cinnamon? the task bar looks a little bit different from mine:
![](https://cloud.githubusercontent.com/assets/216930/13097807/8518a2ee-d578-11e5-83c4-dd1837004832.png)

[2016-02-19 22:31] cinnamoner commented on #8
@Elbullazul
It says the latest release was on Jan 29 and prerelease (Technical Preview) on Feb 19. Don't get it.

[2016-02-19 22:33] cinnamoner opened #14 "Curious Git issue"
I've posted it on thread #8

[2016-02-20 01:43] Elbullazul commented on #13
@Zerophase I guess it's because you have text beside your menu icon and I don't.

@Greenlaw110 it's an applet from cinnamon-spices

[2016-02-20 01:45] Zerophase commented on #13
@Ellabullazul I'll see if getting rid of the text does anything.

[2016-02-20 01:45] Elbullazul commented on #14
Had to reinstall the os.  Git reconfigured and it behaved badly since.  No big deal

[2016-02-20 01:45] #14 closed

[2016-02-20 03:33] greenlaw110 commented on #13
@Elbullazul what applet is it? Can you share the link here?

[2016-02-20 04:30] Zerophase commented on #13
@greenlaw110 It's Windows List with App Grouping. You can find it in the Applets menu, under configuration.

@Elbullazul I found the cause. It's from me adjusting the size of the panel, without letting Cinnamon scale up the size of the icons. Is there a possible workaround for this with css?

[2016-02-20 10:41] greenlaw110 opened #15 "Gap"

[2016-02-20 10:43] greenlaw110 opened #16 "There is a gap between startup menu and the border"
The gap makes it look a little bit cranky:
![image](https://cloud.githubusercontent.com/assets/216930/13196151/a4d8756a-d81a-11e5-83df-e4bf76d05fcc.png)

[2016-02-20 10:43] #15 closed

[2016-02-20 10:44] greenlaw110 commented on #16
Sorry just realized this is a duplicate issue

[2016-02-20 10:44] #16 closed

[2016-02-20 11:00] greenlaw110 commented on #13
@Zerophase Windows List with App Grouping looks perfect in the theme! thank you! BTW, I got the gap issue also, but I haven't adjusted the size of the panel, I don't even know how to adjust it. Should it be something else?

[2016-02-20 11:19] Zerophase commented on #13
I was able to get it to resemble the pictures above, by just having the Windows logo, and letting Cinnamon scale icons on custom height panels.

[2016-02-20 20:04] cinnamoner commented on #13
@Elbullazul
I suggest full compliance of the theme with 1080p, thus eliminating the issue described by Zerophase. Okay, I've formulated rather clumsily, but you can still extract the essence. Thank you.

[2016-02-21 00:36] Elbullazul commented on #13
@Zerophase what's your panel size? I'll try to replicate this into my desktop to try to fix it

[2016-02-21 02:01] Zerophase commented on #13
Let me find the property. I just set the size with the Cinnamon slider.

[2016-02-21 08:23] Zerophase commented on #13
I have auto hide turned on, and the Panel height slider is about a mouse width away from the "P" in Panel height.  Currently, the Linux Mint forum is down. So, I can't see how to print out the value the slider has.

[2016-02-22 02:17] Elbullazul commented on #8
Now that the point of this thread has been adressed, I'll close this issue. Thanks @feren @Zerophase @cinnamoner for your feedback and invaluable help!

[2016-02-22 02:17] #8 closed

[2016-02-22 03:05] Zerophase commented on #13
So, linuxmint.com was hacked last night. Might be a couple days until the site comes back up.

[2016-02-22 08:22] Zerophase commented on #13
0.9.2 fixed the issue with the gap on the bottom of the menu. There's still a gap on the left hand side.

[2016-02-22 08:34] Zerophase opened #17 "Scrollbars cover up ratings for Cinnamon Applets."
I just noticed that the scrollbars cover the ratings for Cinnamon Applets. I don't know if there's anything we could do. Even the Cinnamon scrollbar covers them a bit. (It's much thinner though) Just thought I'd report it, in case we can do anything about it.

![workspace 1_003](https://cloud.githubusercontent.com/assets/4284284/13213195/b962e6e4-d90c-11e5-9f56-70c385f5bd34.png)

[2016-02-22 11:21] greenlaw110 opened #18 "Software Manager is not themed"
![image](https://cloud.githubusercontent.com/assets/216930/13216836/84dcceac-d9b2-11e5-86d4-0e6b4fb256da.png)

[2016-02-22 11:21] greenlaw110 commented on #17
I don't have the issue:
![image](https://cloud.githubusercontent.com/assets/216930/13216862/ab699ef6-d9b2-11e5-8144-4631eb5d5d91.png)

[2016-02-22 12:58] Elbullazul commented on #17
@Zerophase I don't have it either. Is it still cinnamon 2.6 on Arch? Maybe it's some bug specific to Arch

[2016-02-22 13:11] Elbullazul commented on #18
It happens when the theme is placed in ~/.themes. Try out the Transfo Pack installer wich installs the files as a global theme (root has also access to the theme) wich will make the SC look like this :
![capture du 2016-02-22 08 10 08](https://cloud.githubusercontent.com/assets/15310985/13219103/d40f2b9a-d93b-11e5-8c2c-5da14b9ab6e5.png)

[2016-02-22 13:36] #18 closed

[2016-02-22 16:30] Zerophase commented on #17
@Elbullazul They're on 2.8.6 of Cinnamon.

[2016-02-22 16:51] Elbullazul commented on #17
can't replicate the bug on Linux Mint 17.3

it seems that it's a bug that's specific to your desktop. I wish I could help but I know nothing about Arch.

[2016-02-22 16:58] Zerophase commented on #17
I'm downloading the package, and checking if a file didn't install.

[2016-02-22 17:09] Zerophase commented on #17
Oh, which font are you using. I'm going to check if the font selected effects this.

[2016-02-22 17:17] Elbullazul commented on #17
the default font for cinnamon, Noto Sans 9pts

[2016-02-22 17:21] Zerophase commented on #17
Yeah, fonts don't seem to matter. Think it's an Arch issue.

[2016-02-23 04:39] Zerophase commented on #17
I've pushed around from a view different bug forums, and it looks like gtk issue.

[2016-02-23 15:52] Zerophase commented on #13
Sorry, for all of these posts. It sounds like the reason the theme works correctly with Linux Mint is they're on an older version of gtk. The issue might affect the theme later, but most likely whenever Cinnamon updates to a newer version, they'll have to add some padding into some of their windows.

[2016-02-23 16:16] Elbullazul commented on #13
you're talking about https://github.com/Elbullazul/Windows-10/issues/17 @Zerophase ?

[2016-02-23 16:31] Elbullazul commented on #13
It seems that at a certain point with small panel size Cinnamon will automatically add that small line. At least that's how it is in my system

[2016-02-23 22:58] greenlaw110 commented on #18
Yes it makes sense as software manager is launched as root user. After I moved the theme to /user/share/themes it looks been stylyzed.

However it still looks ugly in comparing to other built-in tools like

The driver manager (also run in root privilege):
![image](https://cloud.githubusercontent.com/assets/216930/13269638/e90284b4-dadc-11e5-8860-c0487ca481ac.png)

Power statistics:
![image](https:

[2016-02-23 23:49] Elbullazul commented on #18
Well,  I figured that the look of the software center doesn't depend on css theming. It's built in the code of the app and it isn't customizable.  Sorry.

[2016-02-24 00:28] greenlaw110 commented on #18
Understood, I think we should submit an issue to Mint. That's something they need to improve

[2016-02-24 02:16] Zerophase commented on #13
Sorry, about posting on the wrong thread.

[2016-02-24 12:54] #17 closed

[2016-02-24 19:45] cinnamoner commented on #13
@guys
LOTS OF THEMES HAVE OR HAD PROBLEMS WITH BEING BOTH MINT AND ARCH COMPLIANT. I HOPE WE FINALLY UNDERSTAND THE DIFFERENCES BETWEEN MINT AND ARCH. IF WE STILL DON'T GET IT, THE SAME OLD STORY WILL GO ON AND ON.

[2016-02-24 19:47] cinnamoner commented on #13
@Elbullazul
Key for action center, here:
http://icons.bav0.com/

[2016-02-24 21:16] Elbullazul commented on #13
@cinnamoner sorry, action centre is actually embedded in Cinnamon itself. What we could do would be to build an applet for it, but none of us (i think) knows javascript, thought I'm getting started on it in college

Also, please avoid Caps on your comments. If you want to add emphasis on words add a little asterix before and after the text *so it gets like this*

thanks,

[2016-02-24 21:33] cinnamoner commented on #13
@Elbullazul
I understand your desire to please everyone. On the other hand, let's face it: Cinnamon, Xfce and Mate are the closest to a Windows layout.

[2016-02-24 21:37] cinnamoner commented on #13
@Elbullazul
At least, we now known what is needed. Javascript that is. Thanks.

[2016-02-24 22:07] Elbullazul commented on #13
@cinnamoner my goal is that ANYONE wanting a win10 looking desktop may have access to it easily. That includes less "windowish" DEs too.

I had been to that website, but they don't have the 1511 build icons (yet?)

[2016-02-24 22:17] cinnamoner commented on #13
@Elbullazul
Okay. I understand your thinking.
I'll dig for the 1511 ones (maybe).

[2016-02-24 23:01] cinnamoner commented on #17
@Elbullazul
Think of Arch as something that has the latest/newest anything kinda ... Mint is more conservative but arguably more stable and less buggy.

[2016-02-24 23:08] cinnamoner commented on #17
@Elbullazul
From Arch, Mint, Debian, I would choose Mint. It seems to offer the best balance between new and stable.

[2016-02-25 00:47] cinnamoner opened #19 "Editable"
Windows 1000 Transformation Pack. What the heck is this?

[2016-02-25 01:34] Elbullazul commented on #19
Don't know, guess some wannabe hacker stole something from the linux mint forums associated with my username, or something else. I checked my mail and nothing has happened (yet)

As a collaborator, you have write access to the repo. Don't worry about it.

[2016-02-25 01:34] #19 closed

[2016-02-25 01:40] Elbullazul commented on #13
@cinnamoner don't worry about icons. I have my own VM setup with icon grabbing software.

since this issue appears to be linked with Arch configuration, I will close the thread. However, @Zerophase if you find a fix please share it so others who get this error can fix it too!

[2016-02-25 01:40] #13 closed

[2016-02-25 01:46] Elbullazul commented on #19
@cinnamoner please calm down, I know your concern, but everything's under control.
Gnome-Look won't let me send you a message, says it's spam.

BTW I think I'll activate double factor security, just in case...

[2016-02-25 02:13] cinnamoner commented on #19
@Elbullazul
It's a big mess. I consider everything compromised. Git says I'm you.

[2016-02-25 02:22] Elbullazul commented on #19
Screen shot plz

[2016-02-25 02:51] Elbullazul commented on #19
I named you a collaborator. So you have administrative privileges on the repo.  If you feel you're not fit for the job I can remove you from the list

[2016-02-25 13:27] cinnamoner commented on #19
Coming up ...

[2016-02-25 13:31] cinnamoner commented on #19
Here:

[2016-02-25 14:03] cinnamoner commented on #19
I can't do it from this mobile device. Email plz. I'll attach 'em.

[2016-02-25 14:55] Elbullazul commented on #19
just upload them here : http://imgur.com

and paste the URL that it gives you

[2016-02-25 15:28] cinnamoner commented on #19
@Elbullazul
I've been agonizing over the issue for so many hours. Let me have some coffee and I'll get to it.

[2016-02-25 16:17] Elbullazul commented on #19
here is the key for you to understand what's going on :
![capture du 2016-02-25 11 15 50](https://cloud.githubusercontent.com/assets/15310985/13325775/3f1e231a-dbb1-11e5-8148-bc0d2783273c.png)

as you can see, you & @Zerophase have admin rights over this repo, so you have access to admin rights. Get it?

[2016-02-25 18:10] cinnamoner commented on #19
http://imgur.com/search/breach%20or%20ignorance

[2016-02-25 18:50] cinnamoner commented on #19
@Elbullazul
My bad. I've got it. I was concerned about the security of the repo. I used the andro-app and the link doesn't work. Also, this is not the original message. That one (about a kilometer long) crashed together with android. The only thing left in the fog is: why does Git report the v10, v1000, and Windows 1000 Transformation Pack changes having been made by you. They had been made by me.

[2016-02-25 19:50] Elbullazul commented on #19
@cinnamoner my guess is that Git works like linux. Anyone who is in the sudoers group is considered as root.

[2016-02-25 20:15] cinnamoner commented on #19
http://imgur.com/gallery/uUh8K/new

[2016-02-25 20:39] cinnamoner commented on #19
@Elbullazul
Just out of academic curiosity, do you think he's right or wrong?

http://www.technicalnotes.org/create-bootable-iso-from-windows-10-install-esd-file/

[2016-02-25 20:41] Elbullazul commented on #19
don't know, never heard of ESDs before

[2016-02-25 20:48] cinnamoner commented on #19
@Elbullazul
Mint Software Manager is themable. I'll look for the workaround.

[2016-02-25 20:57] cinnamoner commented on #19
@Elbullazul
Okay. How about WIMs then? Do they sound familiar?

[2016-02-27 09:54] greenlaw110 commented on #10
Hey v0.9.4 still have the same issue, is it still a preview version?

![image](https://cloud.githubusercontent.com/assets/216930/13372360/318c2b18-dd94-11e5-9337-58c42cdcb182.png)

[2016-02-27 11:08] tbl0605 opened #20 "file permissions in Windows.10.Icons.v0.4.zip"
Hi,
that's really a minor issue, but when copying content of Windows.10.Icons.v0.4.zip to /usr/share/icons/,
I had to do a "chmod -R a+r" because some file had no global read access and could not be "rendered" by cinnamon.
For example file 256x256/apps/synaptic.png
Could you correct that in next release of your icons pack ?
Thank you very much for your hard work, your theme is really great !

Thie

[2016-02-28 21:10] feren opened #21 "Cinnamon Applets"
Could you possibly bundle the 'Task View' and 'Cortana' icon-ified applets with the theme or upload them somewhere because I'd like something like that on my Cinnamon and when I tried, the icons were too small on the panel... :+1:

[2016-02-28 21:10] feren commented on #21
https://cloud.githubusercontent.com/assets/15310985/13288948/2be073f0-dadc-11e5-9585-d024c8bd52cd.png

[2016-02-29 01:29] Elbullazul commented on #20
thanks for the warning! I thought that sudo cp fixed that problem, but I'll investigate for a better way. Thanks!

[2016-02-29 01:32] Elbullazul commented on #10
It's the sacrifice I need to do for the theme to work with Gnome 3.18... :(

if you don't want those errors then search in gtk-widgets for "/*addition" and delete the whole code I added.

Also, delete the whole section for gnome 3.18 in gtk-widgets-assets.css

[2016-02-29 01:37] Elbullazul commented on #21
It's a hack I managed myself. I installed xdotool and used the "run command" applet. I also had to create a small script that simulated keypresses on alt-F1 wich activates the expo view. I COULD modify the applet but Javascript is still unknown to me.

As for "cortana" it's the same thing except it starts gnome-search-tool

if you're interested I can send you the script. Here's the applet I use :

[2016-02-29 01:37] #21 closed

[2016-03-02 01:45] Elbullazul commented on #20
Just wondering, this just happens with the icon pack or has Cinnamon problems rendering the theme too?

[2016-03-02 08:27] tbl0605 commented on #20
Good question @Elbullazul :) I had no problem with the Windows.10.Light.v0.9.4.zip pack because I installed it in my home directory under ~/.themes and all files had the owner read-write access rights,
BUT group&other have no rights at all (most files have -rw------- rights) so it's still not nice ;)
You can see it easily by doing:

unzip Windows.10.Light.v0.9.4.zip
find "Windows 10 Light" -ls

[2016-03-02 22:49] cinnamoner commented on #20
@Elbullazul
I might be wrong but the latest icon pack fails to extract correctly. And no, my interest in the theme hasn't diminished at all.

[2016-03-02 22:58] Elbullazul commented on #20
@cinnamoner I'll see what causes the issue.  Probably a bad compression or rights as @tbl0605 points out

[2016-03-02 23:10] cinnamoner commented on #10
@Elbullazul
Dealing with conflicting pieces of code is no piece o' cake. I would only code for Cinnamon ("there 'i goes again").

[2016-03-02 23:20] cinnamoner commented on #10
@greenlaw110
Please be understanding. It annoys me too, but this is a unique undertaking. Nobody seems to have endeavored creating a theme so as to cover virtually every DE so far.

[2016-03-03 23:08] cinnamoner commented on #20
@Elbullazul
When I try to extract, prompts to overwrite. Unprecedented.

[2016-03-03 23:22] Elbullazul commented on #20
@cinnamoner v0.9.5 is out for manual instalation only.  Plus,  you should know,  files can't be extracted if an anterior installation is already stored on disk.

[2016-03-03 23:30] cinnamoner commented on #20
@Elbullazul
I extracted to blank space!

[2016-03-03 23:47] cinnamoner commented on #20
@Elbullazul
Whenever I want to check icons inside a zip, I extract to an empty folder. There's nothing in the folder to overwrite. I just checked 0.3 and Feren's icon pack (he provides a link to his repo). It only happens with 0.4.

[2016-03-03 23:57] cinnamoner commented on #20
@Elbullazul
Waned to put up some screenshots earlier. It's reproducible. Check whether you can reproduce it.

[2016-03-04 00:02] Elbullazul commented on #20
Guess your extraction tool is case-sensitive over filenames. Try unzipping in a terminal.

[2016-03-04 00:02] cinnamoner commented on #20
@Elbullazul
If something is unclear, please ask.

[2016-03-04 00:14] cinnamoner commented on #20
@Elbullazul
Plausible. I'll do that as soon as I can. GMT+2.

[2016-03-04 00:31] cinnamoner commented on #20
@Elbullazul
Has tbl0605's issue been sorted out?

[2016-03-04 00:38] cinnamoner commented on #20
@Elbullazul
Okay. I need some sleep. Cinnamoner out.

[2016-03-05 11:36] cinnamoner opened #22 "Pure Cinnamon"
@Elbullazul
This is not really an issue but I admit having contemplated the possibility of a Cinnamon-only fork. By that I mean removing absolutely everything not necessary to Cinnamon from the bundle. Please do not take that as a form of disrespect. But I would really like a pure blood Cinnamon fork. I know we've been discussing this Cinnamon-only thing in a form or another a lot and in all likel

[2016-03-06 14:30] cinnamoner commented on #22
Okay. I've realised that this is nonsense so I'm closing it right away.

[2016-03-06 14:31] #22 closed

[2016-03-06 14:36] cinnamoner commented on #20
@Elbullazul Plausible.

[2016-03-19 11:08] Zerophase opened #23 "Fixed popup menu gap Cinnamon."
I finally, got tired of seeing that gap, and spent some time to fix it.

Here's the code change:
[code]

I'm not sure if this works for all resolutions. I'm on a 1920 x 1080 display. If anyone could check with a smaller or larger display that would be greatly appreciated. I think there's a way to set it per screen resolution, but I don't work with css often enough for it.

I'll commit the change,

[2016-03-23 13:50] rvillablanca opened #24 "Selected buttons on Meld"
Hi, I am using your Windows 10 theme, it is very nice!.

I use Meld in my daily work, and with your theme the selected buttons are not distinguished when they are selected or not.

Example for Windows 10 theme:
![windows](https://cloud.githubusercontent.com/assets/1508272/13987128/d890b0d8-f0e4-11e5-9355-4fd0a2b12795.png)

Example for Adwaita theme:
![adwaita](https://cloud.githubusercontent.com/a

[2016-03-23 15:27] Elbullazul commented on #24
thanks for your feedback! Let's see, that's meld in gnome-shell or unity, right?

[2016-03-23 15:32] Elbullazul commented on #23
sorry for the late reply @Zerophase ,

I'll try the fix and then comment on the result.

[2016-03-23 15:41] rvillablanca commented on #24
Hi, here is the information that you need.
![info](https://cloud.githubusercontent.com/assets/1508272/13990831/8ed6b964-f0f4-11e5-8509-557a9b848a55.png)

[2016-03-23 16:09] Elbullazul commented on #24
fixed, a rebel piece of code prevented me from seeing the button correctly. The fix will be included in the next release (however, I do not know WHEN it will be released, I'm very busy these next weeks)

[2016-03-23 16:09] #24 closed

[2016-03-23 16:14] Elbullazul commented on #23
This fix is definetely not for all resolutions, it breaks my menu (I'm on 1366x768).

However, thanks for fixing this for your particular resolution, since now we know what to do if the problem arises in somene else's computer

[2016-03-23 16:14] #23 closed

[2016-03-23 16:38] rvillablanca commented on #24
I will be waiting for it! Thanks!

[2016-03-23 16:52] Zerophase opened #25 "icon pack changes Deluge icon to UTorrent icon."
Hey, I don't want to inconvenience you. I agree with most of the app icon changes and such. I'm just not sure if the torrent applications need to have their icons changed as well.

[2016-03-23 16:53] Zerophase commented on #23
I'll do some research to see if there's a general solution.

[2016-03-23 20:53] Elbullazul commented on #25
well, I'll leave that to the user. You can always search and remove the undesired icons...

[2016-03-23 20:53] #25 closed

[2016-04-02 00:21] Zerophase commented on #25
I don't have a problem with changing it back. I was just wondering if that's over reaching. I'm completely for changing everything to give the interface more of a Windows 10 look and feel. The torrent app icon change just feels like it might be overreaching a bit.

[2016-04-03 20:19] Elbullazul commented on #25
@zerophase yeah,  well, I just thought it was a more windows-related icon than the regular deluge icon. ..

[2016-04-06 15:56] feren commented on #20
Try packaging it as a deb and then it'll keep file permissions that were set to it before packaging it on every other system... (You will have to make the owner root first before packaging it like I did my skel folder for feren OS BTW)

[2016-04-06 15:57] feren commented on #21
Thank you...

[2016-04-06 16:24] Elbullazul commented on #20
@feren thanks, but how do I package the deb file? do I do it manually or from the terminal or other tool?

[2016-04-07 14:11] Elbullazul commented on #20
@feren never mind, just found how to package a deb.

I'll upload with v0.9.6 release

[2016-04-07 14:11] #20 closed

[2016-04-10 01:55] physicsshark opened #26 "Support for GTK 3.20?"
When I updated my system it brought in GTK 3.20 which has broken compatibility with this theme, and my apps look very ugly now.  Please update this theme to have full compatibility with GTK 3.20.

[2016-04-10 02:00] Zerophase commented on #26
Yeah, I saw that was an issue on the Arch forums. This might help. https://bbs.archlinux.org/viewtopic.php?id=211106

[2016-04-10 02:09] physicsshark commented on #26
I don't know how to rebuild a gtk theme.  Could you explain?

[2016-04-10 02:41] Zerophase commented on #26
I'll get started in figuring this out, once I can update to gtk 3.20. Currently, lightdm-webkit2-greeter is holding me back from upgrading. The maintainer just released a new version of the package, and just need to push it to the Arch repositories.

In the meantime Aidwata should work at least.

By the way which desktop are you running?

[2016-04-10 02:55] physicsshark commented on #26
Adwaita works, but it really looks awful with my MATE desktop (very bad theming with MATE's panel).  Because MATE desktop is GTK2-based, it's not like everything on my desktop is ruined, but network-manager-applet, Firefox and a few other GTK3 ones have become really ugly.
Here's a screenshot from GTK3 Widget factory which will give you an idea of what's like:
![screenshot at 2016-04-09 22 51 53](

[2016-04-10 18:16] Elbullazul commented on #26
Hi there,

I would like to pre update the theme but I have no way too access gtk 3.20

[2016-04-10 18:45] physicsshark commented on #26
You could try Arch Linux in a VM (possibly Antergos or Archbang).  I think Fedora 24 has gtk 3.20, so you could try a pre-release of that.
I hope this (https://feaneron.com/2016/01/04/quick-guide-to-port-an-app-for-gtk-3-20/) and this (https://blogs.gnome.org/mclasen/2015/11/20/a-gtk-update/) helps.  Note that gtk 3.20 is supposed to have a stable theming api, so you wouldn't have to keep updating

[2016-04-10 19:53] cinnamoner commented on #26
Hi guys,

From what I recall petrucci4prez's daily driver is Arch. I always reference the guy when it comes to the gtk stuff. He seems to have dealt with the issue nicely.

[2016-04-11 02:04] Zerophase commented on #26
I'm going to try changing css class and id names based off of this. https://github.com/City-busz/budgie-desktop/commit/847261bdbe7e6f666885e6e433c7b9e8aa79aecc

[2016-04-12 09:06] kozross commented on #26
I too am having issues, particularly of menu 'crowding'. I have attached a screenshot showing an example of what I mean - the menu in the top-left corner is way too tightly-packed. It shows up in several other GTK3-using apps too (notably Evince, in which it is even worse).
![screenshot_2016-04-12_21-04-54](https://cloud.githubusercontent.com/assets/8463904/14455186/57bcb420-00f2-11e6-8a07-5f6e4f6

[2016-04-19 23:10] Elbullazul commented on #26
ok guys, just found the actual adwaita 3.20 source code : https://git.gnome.org/browse/gtk+/tree/gtk/theme/Adwaita/gtk-contained.css

just if you want to help or try fixes by yourself while I try to install fedora 24 alpha (fingers crossed...)

[2016-04-19 23:19] Zerophase commented on #26
I'll play around with it when I get the chance in a few days.

[2016-04-20 22:45] Elbullazul commented on #26
I've been adding code, this is how it looks now :

![raspbian](https://cloud.githubusercontent.com/assets/15310985/14692824/ee34fec2-0727-11e6-82e8-ae1ffa54f7b4.png)

what's been fixed :
- menu padding
- menubar & header bars padding
- sidebar

[2016-04-21 22:36] Elbullazul commented on #26
all right, just had a general lookup of the new code, it's horrible! it's just a bunch of definition for "gnome-oriented controls and elements"

I personally prefer how the GTK 3.14 themes were made, with simple code and classes

[2016-04-23 20:35] kozross opened #27 "Very pale scrollbar"
![I've attached a screenshot to show what I mean. ](https://cloud.githubusercontent.com/assets/8463904/14763862/76a71336-09f7-11e6-8f5f-de41c98d256e.png)

I find it quite jarring from the rest of the theme, and the thumb is too hard to distinguish unless clicked.

[2016-04-23 20:57] kozross opened #28 "Crowding in file chooser"
![Screenshot to show what I mean](https://cloud.githubusercontent.com/assets/8463904/14763948/7cbb38e4-09fa-11e6-932e-30c02f9156b9.png) Note the crowding at the top of the file chooser where the file path is displayed - the directory names run into each other, and look like one big directory name instead of several separate ones.

[2016-04-24 01:54] Elbullazul commented on #27
originally it looked like this :
![windows 10 v0 5 1 6](https://cloud.githubusercontent.com/assets/15310985/14765051/962015c8-099d-11e6-984d-333b9960cd96.png)

but then I somewhere found a picture showing that the beta build of win10's dark theme didn't change the scrollbar color

I agree with you that it looks out of place, and I think I'm gonna change it in the next release

thanks for your feed

[2016-04-24 01:54] Elbullazul commented on #28
is this gnome 3.20?

[2016-04-24 08:28] kozross commented on #28
I'm using Xfce 4.12. This file chooser, however, comes from Evince 3.20, which I assume is from GNOME 3.20 as well.

[2016-04-24 12:55] Elbullazul commented on #28
all right, this will be fixed with next release for gnome 3.20

[2016-04-29 15:08] Zerophase commented on #26
I'm looking at the changes in gtk-contained through diff right now. I think it would be easier to maintain, if we moved to generating the css with sass. 5,000 line file isn't the nicest thing to browse through for changes.

[2016-04-29 15:22] Elbullazul commented on #26
you mean scss @Zerophase ?

I don't know, could be...

[2016-04-29 15:31] Zerophase commented on #26
Yeah, it's basically the same thing. Got the checkbutton working. Ok, it's a lot easier to fix than I thought at first. Still really annoying that they don't have documentation on changes. Even just something auto generated.

[2016-04-29 16:30] Elbullazul commented on #26
@Zerophase saw you had the checkboxes working?

I "fixed" window frames, buttons (kind of) and menubars

[2016-04-30 00:54] Zerophase commented on #26
@Elbullazul I thought I had fixed the check boxes, but turns out I was just mistaken.

[2016-05-05 18:59] Elbullazul commented on #28
try out this : https://github.com/Elbullazul/Windows-10/releases/tag/v0.9.7-alpha

[2016-05-05 18:59] #28 closed

[2016-05-05 19:00] Elbullazul commented on #26
Basic support for Gnome 3.20 here : https://github.com/Elbullazul/Windows-10/releases/tag/v0.9.7-alpha

[2016-05-05 19:00] #26 closed

[2016-05-05 19:19] Zerophase commented on #26
I'll see if I can figure out how to get radio and check boxes displaying correctly. This should help me a lot. I think I'm almost there.

[2016-05-05 23:22] Zerophase opened #29 "Cinnamon menu issues after installing pre-release."
These are some of the issues I've noticed with Cinnamon. I have the latest pre-release installed. Do you have the same issues?

The blue on some of the windows is from the screen capture tool.

![gtk-theme-windows10-git_002](https://cloud.githubusercontent.com/assets/4284284/15060234/1f3eabc2-12ee-11e6-8f5a-bff49b044df6.png)
![system settings_001](https://cloud.githubusercontent.com/assets/4284284

[2016-05-06 14:04] Elbullazul commented on #29
Well I don't know for the floating icons.  It looks more like a software bug or something like that.

Weird that the entry doesn't have borders.

As for the buttons I'll have a look at the code again

Thanks for the feedback

[2016-05-16 12:05] fatihusta opened #30 "Computer Bookmark icon very big"
OS: Ubuntu 16.04 - Unity 7

![verybigicon](https://cloud.githubusercontent.com/assets/11256228/15288956/6221661e-1b77-11e6-88da-cc923870b8c8.png)

I changed with computer icon
[code]

And ReApply icons options

Finally
![screenshot from 2016-05-16 15-45-37](https://cloud.githubusercontent.com/assets/11256228/15289810/42aaec28-1b7d-11e6-93aa-cce6c8db458f.png)

[2016-05-16 12:13] fatihusta opened #31 "Unity Top Panel VPN connected icon not showing"
OS: Ubuntu 16.04 - Unity 7

Windows İcon
![screenshot from 2016-05-16 15-11-22](https://cloud.githubusercontent.com/assets/11256228/15289107/8d0f5bdc-1b78-11e6-9bff-20fe8ff2f764.png)

Ubuntu Mono dark
![screenshot from 2016-05-16 15-11-54](https://cloud.githubusercontent.com/assets/11256228/15289112/957aa04c-1b78-11e6-9bda-5faa3a3d5581.png)

[2016-05-16 15:48] Elbullazul commented on #30
I'll take care of that, I (badly) supposed that icon wasn't used anywhere else than on dark surfaces. I'll be changing it for the next icon pack

[2016-05-16 15:49] Elbullazul commented on #31
Missing icon : I'll try to fix by the next release

[2016-05-18 03:41] Zerophase commented on #29
It looks like the beta might have fixed all of the Cinnamon issues. I just don't see selections in Cinnamon for Window borders, and Desktop from this release.

I'm currently using the Arc Dark theme, and noticed they don't have a separate folder for Cinnamon. Could all of the new api standardized theming across different desktops?

[2016-05-18 11:52] Elbullazul commented on #29
I don't know.  On their github page they still have a cinnamon folder

https://github.com/horst3180/arc-theme/tree/master/common

As for the Window borders it's because there is no metacity theme (didn't include it)

As for the selection,  I have my idea what could be the cause

[2016-05-21 22:55] Zerophase commented on #29
I must have mised arc up with another theme. I do have other themes that seem to be working fine without the cinnamon folder. I'm guessing you just can't individually stylize Cinnamon specific windows without it.

[2016-05-25 13:55] Elbullazul commented on #27
So, v0.9.7 Stable will bring darker scrollbars, as illustrated below :

![capture du 2016-05-25 09 54 37](https://cloud.githubusercontent.com/assets/15310985/15542423/b5ed918a-225e-11e6-9e82-ede2746175c2.png)

[2016-05-25 13:55] #27 closed

[2016-05-25 14:39] Elbullazul commented on #30
It's fixed, next release will bring the change

[2016-05-25 14:39] #30 closed

[2016-05-25 14:53] fatihusta commented on #30
thanks.

[2016-05-25 15:12] Elbullazul commented on #31
say, could you try the fix? I don't even know if it will work.

If you want to, here's the download link. Extract the files to Windows 10 Icons/scalable/status
http://www.mediafire.com/download/98z8qm2oyfme77m/status.zip

and then reapply the icon theme. I think it should work

[2016-05-25 16:04] fatihusta commented on #31
i tested but not working.

[code]

[2016-05-25 16:09] fatihusta opened #32 "Wifi and wired network icons problem"
wifi and wired network icons problem

![nework-icon](https://cloud.githubusercontent.com/assets/11256228/15547295/e4c9e736-22ab-11e6-8704-7785a61d65e1.png)

[2016-05-25 16:47] Zerophase opened #33 "Cinnamon toggle buttons not working."
0.9.7 fixes most of the Cinnamon issues. I just noticed that the toggle buttons aren't getting themed. In the pre-release they were receiving a theme fine.

![themes_001](https://cloud.githubusercontent.com/assets/4284284/15559998/c3644720-22ac-11e6-815b-addf2ccd69fa.png)

[2016-05-25 18:22] Elbullazul commented on #31
add execution privileges to the new added icons. sometimes it works...

[2016-05-25 18:22] Elbullazul commented on #33
can you post a screenshot of the issue please?

[2016-05-25 18:23] Elbullazul commented on #32
did it happened with the previous release too or is it an update problem?

[2016-05-26 07:38] fatihusta commented on #32
I installed only this deb package
https://github.com/Elbullazul/Windows-10/releases/download/v0.9.6/windows-10-tp_0.9-6.amd64.deb

[2016-05-26 07:48] fatihusta commented on #31
I changed permission and owner but nut working.

[code]

[2016-05-27 12:34] Elbullazul commented on #33
But v0. 9.7 isn't for gnome 3.20,  I'm not even sure we can blend the code with other releases for gnome 3.18 or earlier...

I'll have to fork a version for gnome 3.20 it seems...

[2016-05-27 12:34] #33 closed

[2016-05-27 12:35] Elbullazul commented on #32
I've had problems with the Deb since before I created it,  I guess it's privileges again...

[2016-05-27 12:36] #29 closed

[2016-05-31 19:11] Elbullazul commented on #33
just wondering, does this version has any issues with menubars?

[2016-06-01 17:56] Zerophase commented on #33
It doesn't as far as I noticed. But, there is a weird border when scrolling through windows.  That black border shows up with the window contents sliding down it.

[2016-06-01 18:02] Elbullazul commented on #33
does it happen on the beta too?

[2016-06-01 19:28] Zerophase commented on #33
No it doesn't happen on the beta.

Actually, the Windows 10 theme seems to be broken again on Cinnamon. (worse than before) There were updates to Cinnamon since this was released.  Let me try reinstalling it.

[2016-06-01 20:23] Elbullazul commented on #33
try doing this : replace the gtk-3.0 folder from version 0.9.7 with the gtk-3.0 folder from the beta release

you should then have a nice theming with GTK apps and no problem getting the latest cinnamon theme

[2016-06-03 12:45] feren opened #34 "OFF-TOPIC) GNOME-Look is under heavy revamping"
*I would post it on GNOME Look, but, there's no Messaging available yet* @Elbullazul

I've just noticed that GNOME Look is currently under a heavy redesign which (at the time of writing) is missing key features such as Messages, etc, etc. Though it seems quite promising as much as it does rubbish design-wise. So people might have issues with the site for now in case you see less activity on artwor

[2016-06-03 12:46] feren commented on #34
Also the search bar has no results page as of yet...

[2016-06-03 13:12] Elbullazul commented on #34
yes, I just went through this this morning. It looks terrible on mobile!

I'll keep this thread open till they fix the messaging app.

[2016-06-03 16:22] feren commented on #34
BTW, Update, the Lucid is now ready, and I'll upload it tommorow... Phew, that was a roller-coaster and a half at the end, there was a damning bug at the end of it stopping it installing but with a bit of hacking into Ubiquity, I could get it installing properly again... :+1:

[2016-06-03 16:23] feren commented on #34
Also, every other opendesktop.org site (ex. kde-look.org) has this new look...

[2016-06-03 20:25] Elbullazul commented on #34
great, happy you could fix it in time :)

[2016-06-03 22:52] cinnamoner commented on #34
@Guys
Well, it's just outrageous what's happening on Look. Products? Really? It's turning into a marketplace.
It's all about the money. I encourage donations and I even thought about donating myself. But not for products. For artwork. Inasmuch as the interface is idiotic, you're correct. They've just lost a user. Or should I say consumer?
I'm willing to donate a retail Windows package worth for an

[2016-06-03 23:05] Elbullazul commented on #34
@cinnamoner yeah, I don't quite like their new branding, plus they're changing all the URLs and that messes me a lot.

By the way, have you had a look at the mail I sent you? And have you had time to explore the theme's source code yet?

[2016-06-03 23:06] cinnamoner commented on #34
Sorry. It's open again. Just angry when called a consumer of products. Not buying anymore.

[2016-06-03 23:15] cinnamoner commented on #34
@Elbullazul
Are you referring to the pure Cinnamon code uploaded to MediaFire? Or is it about something more recent?

[2016-06-03 23:22] Elbullazul commented on #34
@cinnamoner remember you wanted to explore the code to learn how it worked?

BTW the message I sent you was a link to new artwork I didn't plan to release on look yet.

Have a look at it here : http://b00merang.weebly.com/b00merang-collection.html
And
http://b00merang.weebly.com/redmond-collection.html

The Vista one you should like...

[2016-06-03 23:33] cinnamoner commented on #34
@Elbullazul
Been dealing with other things lately. But I sure won't abandon the pure Cinnamon project. All talk an' no show I guess. Hopefully,  I'll get to it soon.

[2016-06-03 23:46] cinnamoner commented on #34
Oh my Goddess. I guess I've been missing out. Yeah, anything Vista related is awesome. I'll go check.
No. The pure Cinnamon project hasn't been abandoned. Looked at the code, yes. But I need to experiment with it. Not much time lately. Also promised some help to Feren and haven't yet delivered (StarkMenu related).

[2016-06-04 00:05] cinnamoner commented on #34
Indeed. Looks fantastic. Piano black + glow effect? I guess you've been following my posts on Vista (amazing OS). Do you know  it true  history 'n have you taken it for a ride?

[2016-06-04 00:18] cinnamoner commented on #34
@Elbullazul
You're new avatar (a boomerang) is much better. I recall telling you have an eye for detail. Holds true.

[2016-06-04 00:38] cinnamoner commented on #34
@Elbullazul
The pure Cinnamon wasn't a once-off whim of mine. Really appreciate what you did for me.  It's what I'll build on.
As for the Vista theme ... it's a great surprise. Interestingly enough, it's just the other day that I thought to tell you to consider Vista for a change. Also noticed all the visual refinements on yor site.

[2016-06-04 01:25] cinnamoner commented on #34
@feren
https://github.com/bluedxca93/starkmenu/files/78222/win-themes-fixed-boxpointer.zip

One of the 3 is a slightly modified version of Se7en (by Elbullazul). Radius change in the .css. No gap between StarkMenu 'n the left border of the screen. As for the StarkMenu itself, we gotta get in touch with  NicoKrause for the generic one (he seem to have drifted towards an XP variant to suite 4prez's

[2016-06-04 01:34] cinnamoner commented on #34
@Guys
Coding is not really my thing. I'm modestly trying to help with what I can.

[2016-06-04 18:02] feren commented on #34
About the feren OS ISO: Darn it, couldn't get it to work in time for today, I'm even thinking of Systembacking it to get it to install.
@cinnamoner I will try to see if I can get a working StarkMenu later, when I tried the Spices StarkMenu in Cinn3.0, it was slightly glitchy, no right-click menus, no proper right side names, no fav apps, etc...

[2016-06-04 18:04] feren commented on #34
Sorry about the language but:
GnomeLook is now looking c**ppy as hell, just look at the latest & greatest lists... They look like a kid made them, especially the text overlapping images...

[2016-06-04 18:06] feren commented on #34
...the only thing good about the new site is the Add Product bit, but then, @cinnamoner , I agree with you that it's wrong of them to call our works "Products"...

[2016-06-04 18:09] feren commented on #34
Actually, that's nice of you to mention "Vista's History" @cinnamoner as I'm working on a Longhorn 405X Aero inspired theme for Cinnamon & Megacity.

[2016-06-04 19:31] feren commented on #34
Take as much time as you need, I'll be only properly working on 2016.2 once LM18 Beta comes out...

[2016-06-04 19:34] feren commented on #34
@cinnamoner This is what StarkMenu from LMSpices looks like in 3.0:
![screenshot from 2016-06-04 20-33-35](https://cloud.githubusercontent.com/assets/11057934/15801647/bec4ad06-2a93-11e6-9d86-2a6f397cb69e.png)

[2016-06-04 19:37] feren commented on #34
Finally, gnome-look actually has a search results page! O_O

[2016-06-04 21:25] cinnamoner commented on #34
@feren
The applets on Spices have been obsolete for a very long time now. But bluedexca93 has updated Stark and made it work just fine on Cinnamon 2.8.x. Shortly after, NicoKrause has improved on bluedxca93's fork and brought Stark to close perfection. It was a generic Stark  and worked great. Then, Nico has altered his generic Stark and made it into something that every closely emulates the XP me

[2016-06-04 21:41] cinnamoner commented on #34
@feren
I''ve noticed SystemBack in your screenshot  (right on the taskbar).

[2016-06-04 21:49] cinnamoner commented on #34
I'll try to reference a similar screenshot, just for fun.

[2016-06-04 22:13] cinnamoner commented on #34
@feren
I'll get in touch with NicoKrause. Let's see ...

[2016-06-04 22:50] cinnamoner commented on #34
Sounds exciting to me.

[2016-06-05 01:41] Elbullazul commented on #34
@feren @cinnamoner I used this code for my stark menu : https://github.com/mintystark/starkmenu/blob/af9a8d440444b373a32d658605d471ce863ffd2b/applet.js

but I don't recommend it, it's highly unstable and glitchy. I just use it for screenshooting xD

[2016-06-05 02:03] Elbullazul commented on #34
another problem arouse today. No uploading! I'm stuck at 0.03Mb left (yesterday was 4) so I guess I should try again tuesday and it will upload?

[2016-06-05 02:06] Elbullazul commented on #32
Try this: uninstall the deb package and install the Transformation Pack with the shell script I built : https://www.gnome-look.org/p/1013482/

I think it should solve permissions if that's the problem. Otherwise, it's some icons gone missing (again!)

[2016-06-05 08:05] cinnamoner commented on #34
@feren
@Elbullazul
As you might already know, I wrote to both bluedexca93 and NicoKrause. Waiting for their reactions.
@Elbullazul Are you familiar with NicoKrause's fork? Right here on Git.

[2016-06-05 08:17] cinnamoner commented on #34
@Guys
Whenever one says anything in conjunction with StarkMenu, it is highly recommended  to specify the exact version of Cinnamon he/she wants it for. Otherwise, one just looses precious time.

[2016-06-05 10:57] cinnamoner commented on #34
@Elbullazul
I wouldn't even consider Look anymore. Or at least not until they're stable enough. They make a living out of your artwork. Have they consulted you or the other artworkmakers before engaging into this change? Guess not. Total disregard from their part. Perhaps the ownership has changed as well. I don't know or care. At any rate, the manner in which they are transitioning  is technicall

[2016-06-05 11:32] Elbullazul commented on #34
@cinnamoner their latest privacy policy (January from this year) already used the "commercial language" we are now seeing.

More info on the damn transition https://m.facebook.com/story.php?story_fbid=814128622056920&id=808819542587828

I almost wish I could start a new service. ..

[2016-06-05 14:10] feren commented on #34
@cinnamoner , This is how far I've got with the Basic part of that WIP Longhorn Theme:
![screenshot](https://cloud.githubusercontent.com/assets/11057934/15805932/8354f0c2-2b2f-11e6-91d8-14d62ee29044.png)

[2016-06-05 15:23] Elbullazul commented on #34
@feren the upgrade to 16.04 is missing the GWX icon xD

Looks promising.  Any other problems with the ISO.?

[2016-06-05 17:56] feren commented on #34
@Elbullazul , It's ubiquity, the problem is that it's missing boot files for installation...

[2016-06-05 18:25] feren commented on #34
Hmm, so far my re-run fixer script seems to lag out the X Session when Copying Files starts making a /target folder...

[2016-06-05 23:07] Elbullazul commented on #34
So it installs but it lags so much you think it stopped?

[2016-06-05 23:19] Elbullazul commented on #34
Just wondering @feren how do you shut down your computer with slingshot if it has no power options?

[2016-06-05 23:30] cinnamoner commented on #34
@Elbullazul

https://github.com/NikoKrause/CinnXPStarkMenu

Please look into "Issues".

[2016-06-05 23:45] cinnamoner commented on #34
@feren
The Longhorn theme is very pretty indeed. Keep it going.
@Elbullazul
I haven't revisited Look ever since and probably will only to delete my account.

[2016-06-05 23:58] cinnamoner commented on #34
@Elbullazul
LinDoz has a working Stark for 2.8.8 as well. I'm considering to contact Jacque for it. By the way, how does his spin seem to you?

[2016-06-06 00:03] cinnamoner commented on #34
@Elbullazul
Do you think you could replicate the glowing shut down an' all from the real Vista menu on Stark?

[2016-06-06 00:10] Elbullazul commented on #34
@cinnamoner It is possible to do this through CSS, all I need is the class (or tag or id or whatever :P) of the button and then create a custom style for it.

link to the spin please?

[2016-06-06 00:20] cinnamoner commented on #34
https://sourceforge.net/projects/makulu/files/release/MakuluLinux-LinDoz.iso/download

[2016-06-06 00:21] cinnamoner commented on #34
https://drive.google.com/file/d/0B1WL1HHzjO6ndjdqcTVsUlQ5ZVE/view?usp=sharing

[2016-06-06 00:22] cinnamoner commented on #34
MD5 : 885923aef5e319e629db2ecb12324f00

[2016-06-06 00:28] cinnamoner commented on #34
@Elbullazul
That's good news concerning the buttons. Do you need any visual elements for that (png)?

[2016-06-06 00:31] cinnamoner commented on #34
@feren
What tool are you using for spinning FerenOS?

[2016-06-06 01:01] cinnamoner commented on #34
Do have 16.04 with cinnamon 3.0.1 64 bit and and its working fine.

file structure:
 ls -a  .local/share/cinnamon/applets/
.  ..  StarkMenu@mintystark
ls -a  .local/share/cinnamon/applets/*
.  ..  applet.js  metadata.json  settings-schema.json  stylesheet.css

perhaps the files are in the wrong folder, had that issue and try using
3.0.1 and a cinnamon theme supporting it.

regards bluedxca93

Very

[2016-06-06 01:03] Elbullazul commented on #34
@cinnamoner I'll do it with box shadow.

I'll have a look at makulu

[2016-06-06 01:15] cinnamoner commented on #34
@Elbullazul
Wise of you to push 'em all to Git.

[2016-06-06 01:21] cinnamoner commented on #34
@Elbullazul
As you please. It's been a good day to live. Thank you.

[2016-06-06 06:48] feren commented on #34
@cinnamoner I use LiveCDCustomization to make feren OS now... Ubuntu Builder caused no Internet Access in 2015.X...
@Elbullazul 1. It lags to a frozen screen when Copying Files starts making a /target directory with that re-run script in the background, I'm trying to get it to stop after copying the needed files to prevent this lag.
2. Cough, atareao:atareao ppa, cough.

[2016-06-06 06:49] feren commented on #34
...also there's the User Applet as well

[2016-06-06 07:43] fatihusta commented on #32
I downloaded again.

I removed manualy.
[code]

And install manualy into home folder.
[code]

But same result. :(

[2016-06-06 17:04] feren commented on #34
I may have found a fix to the hangs:
It looks like (through Terminal output) it cannot copy the files because /target/boot is MISSING making the copying impossible (for some reason) and so, it still checks, it still tries again and again and again and ends up flooding the Live CD with requests causing the hang so I'd have to add this line:

sudo mkdir /target/boot/

[2016-06-06 17:45] feren commented on #34
@Elbullazul , whilst your at it, could you possibly do a Vista Beta 2 Old Windows Basic option for the Vista theme too?
![image](https://cloud.githubusercontent.com/assets/11057934/15831678/a939eb7a-2c16-11e6-9430-518b144c6cf6.png)
![image](https://cloud.githubusercontent.com/assets/11057934/15831708/c571806e-2c16-11e6-945e-bad362e29761.png)

[2016-06-06 17:47] feren commented on #34
Completely Off Topic but this is what Vista Beta 1's IE looks like on Windows XP: (Pretty good design actually, it even has XPs Back And Forwards Buttons...
![image](https://cloud.githubusercontent.com/assets/11057934/15831763/092e468e-2c17-11e6-9818-8209160e81af.png)

[2016-06-06 17:48] Elbullazul commented on #34
great, hope fix works!

shure, I'll be happy to

[2016-06-06 18:03] Elbullazul commented on #34
you mean make it look like this?
![capture du 2016-06-06 14 02 52](https://cloud.githubusercontent.com/assets/15310985/15832257/61feb2b2-2bef-11e6-808c-9a312adf74cd.png)

[2016-06-06 18:34] feren commented on #34
@Elbullazul No, I mean can you make a GTK and Metacity theme option to that that makes it look like the "Old Windows Basic" of Vista Beta 2 like in the top screenshot of that (as in the grey variant) (I seem to like the grey one better ;D)

[2016-06-06 18:36] feren commented on #34
The feren OS fix works, but right now, it lags X intensively...

[2016-06-06 19:10] Elbullazul commented on #34
kill X then :D

just kidding...

[2016-06-06 19:11] Elbullazul commented on #34
oh, you mean something like this?

![capture du 2016-06-06 15 11 02](https://cloud.githubusercontent.com/assets/15310985/15834318/f76bffb8-2bf8-11e6-8795-457161caf14b.png)

[2016-06-06 19:56] cinnamoner commented on #34
![61feb2b2-2bef-11e6-808c-9a312adf74cd](https://cloud.githubusercontent.com/assets/15638605/15835600/6658d0e6-2c39-11e6-8ad7-074a6807bd35.png)
I like this one better.

[2016-06-06 20:03] Elbullazul commented on #34
@cinnamoner I kind of like it that way too, but that look appeared only in Windows 7, and @feren is trying to emulate Longhorn, so it makes sense to get the original Vista look.

[2016-06-06 20:09] cinnamoner commented on #34
Yeah, I mean I've looked at them like hundreds of times. The one I've reposted seems to be just fine.

[2016-06-06 20:14] cinnamoner commented on #34
@Elbullazul
I have a pure blood Vista Business on one of my machines and it looks exactly like the one I've reposted. I don't get it.

[2016-06-06 20:15] Elbullazul commented on #34
@cinnamoner screenshot? I'm curious about this one.

BTW you spoke about Vista's history? Can you tell me a bit about it?

[2016-06-06 20:20] cinnamoner commented on #34
@Elbullazul
Do you need a pure blood Vista iso for reference?

[2016-06-06 20:24] Elbullazul commented on #34
no, I have one. Just visually I mean. My dad has his laptop on Vista so I see it very often :D

tell me a bit about vista's history. All I know is that it was supposed to be a replica to OS X's flashy new interface

[2016-06-06 20:58] cinnamoner commented on #34
Long story short. Way back like in 2006 when it was released under public pressure, although it incorporated  unprecedented technology, it was an unfinished product. Some of the previously promised  features had been cut off but it still had plenty of features.
Furthermore, mainstream computing power wasn't yet enough to meet the demands of Vista (or 7). Remember, we're talking 2006. Lots of OEMs

[2016-06-06 21:07] cinnamoner commented on #34
Those are just the minimal facts. No nuances, no Mojave, no ... . It would take a book of hundreds of pages.

[2016-06-06 21:21] cinnamoner commented on #34
@Elbullazul
I'll post you a screenshot. Not today though. It's late night.

[2016-06-06 21:50] cinnamoner commented on #34
@Elbullazul
Are you there? Say something.

[2016-06-06 22:19] cinnamoner commented on #34
@Elbullazul
Trust me. The one I reposted wasn't first implemented in 7. It had been implemented before in Vista. Longhorn is a codename. Feren posted a beta build. Not the final Vista. But I respect his wish. Although I would emulate a final not a beta build.

[2016-06-06 23:10] Elbullazul commented on #34
@cinnamoner but the final theme is already available.   My guess is that @feren wishes to expand the skins available,  and for Vista we just have the "regular"  and preview looks,  so it makes sense to add the preview look, right?

[2016-06-06 23:22] cinnamoner commented on #34
@Elbullazul
You're absolutely correct. It makes sense to add a preview look as well.
What I reposted is actually to what Vista defaults if one's GPU doesn't support Aero glass.
Stay tuned.

[2016-06-06 23:54] cinnamoner commented on #34
@Elbullazul
Please  take no offence but do I really need to post screenshots to prove that statement is inaccurate?

[2016-06-07 00:15] Elbullazul commented on #34
If you want to.  I believe your word xD

[2016-06-07 00:17] cinnamoner commented on #34
@Elbullazul
Please bear with me. What do you mean by regular? What I already reposted or this:

[2016-06-07 00:23] cinnamoner commented on #34
Sorry. It's 03:20 in the morning here. Accidentally closed it. Mobile device. No worries, I'll post those screenshots. I just wanna make sure you don't  exclude what I reposted.

[2016-06-07 00:33] cinnamoner commented on #34
@Elbullazul
I must be nuts. I'll get some sleep now. I'll be back ...

[2016-06-07 06:42] feren commented on #34
@Elbullazul , It would be nice to see some more skins added to the Vista one for reasons including:
1. Some Beta testers prefer the old Windows Basic to baby blue
2. It makes your theme stand out as so far, nobody apart from you has made an Old Windows Basic metacity theme ever

PS: If you want, I could give you some images for the metacity as I have a WindowBlinds theme on my Win10 that has the O

[2016-06-07 06:43] feren commented on #34
Fact: Pre-SP1, non-activated Vista would have no Glass option at all

[2016-06-07 12:37] cinnamoner commented on #34
@feren
I agree that there are some very unique and visually splendid elements in the beta.
Therefore, I fully encourage Elbullazul to expand the skin pack so as everyone may find his/hers heart's desire. Our preferences don't oppose each other. They're complementary to each other.

[2016-06-07 13:14] cinnamoner commented on #34
@Elbullazul
Feren's favourite is the Gray one. Please include it.
My favourite is the one you said was first introduced in 7. Please include it.
Please don't make any hybridization between them.
Promised screenshots due to be released soon.
Here's a link to a clean 'n final Vista. They only provide a checksum for the install.wim but I can provide the checksums for all 3 elements.  It's not like I

[2016-06-07 13:46] cinnamoner commented on #34
@Guys
Not a beauty contest here. I just want everyone satisfied. Simple as that.

[2016-06-07 16:12] feren commented on #34
Don't worry @Elbullazul , if you don't feel like the Old Windows Basic project, I can continue from where to left off (if you do) and finish it off for you...

@cinnamoner The fix for feren OS Stable nearly works, just that right now, it exits having copied the files too early that Ubiquity deletes them right after... :/

[2016-06-07 16:55] Elbullazul commented on #34
@feren can't you sleep the process for a little time?
ex. >sleep 50

it's fine, I can finish it, but I would need a little more instructions

[2016-06-07 18:31] feren commented on #34
Yeah, the top line is sleep 1
PS: The changes I'll make for the final ISO are as follows:
When /target/ found:
Do that code
Sleep 3
Do that code
Sleep 3
Do that code
exit

[2016-06-07 18:47] feren commented on #34
@Elbullazul , I'll upload the WindowBlinds resources then tommorow to you so then you can (hopefully) find the Old Windows Basic resources in it (by that, I mean that there's also other Vista Basic, Aero, etc with it)

[2016-06-07 18:50] Elbullazul commented on #34
ok, thanks for your help and suggestions @feren !

[2016-06-07 19:17] feren commented on #34
For now, these are some of the resources for the metacity: (Just delete the pink bits!!)
![bitmap_3](https://cloud.githubusercontent.com/assets/11057934/15871465/ac134d42-2cec-11e6-96ba-4bb0abb7da88.png)
![bitmap_6](https://cloud.githubusercontent.com/assets/11057934/15871475/b7532df8-2cec-11e6-8875-2386df679c87.png)
![bitmap_19](https://cloud.githubusercontent.com/assets/11057934/15871483/bd7a3be

[2016-06-07 19:19] feren commented on #34
...and the glyphs for the buttons are just the usual vista ones...

[2016-06-07 19:56] cinnamoner commented on #34
@Guys
May I say something?

[2016-06-07 19:58] feren commented on #34
Yes...

[2016-06-07 20:47] cinnamoner commented on #34
@Guys

I've been thinkering a lot about the beta 2 build. I've looked at it again 'n again. I've read feren's arguments again 'n again. And I've wondered about the spirit of Longhorn. Then I realised I had been blind and fanatical. Fernen, you are right. The beta2 build is a better representation of the Longhorn spirit. I propose to dropp the Vista name alltogether and let us rename it "Longhorn".

[2016-06-07 21:03] Elbullazul commented on #34
@cinnamoner well, that's your opinion and I respect it. However, my goal was to cover all the "mainstream" or main releases of Windows (3.x, 9x, XP*, Vista, 7, 8.1** and 10) and, well Longhorn was kind of a TP, right?

Anyways, I'll continue to work on the Longhorn project.

*CinnXP is unbeatable, so Embedded/Zune themes
*Cinnamon theme only...

[2016-06-07 21:34] cinnamoner commented on #34
@Elbullazul
I also like the square theme.
As far as Vista is concerned, I understand you're thinking. Yeah, if you put it that way, you've got a solid argument. I trust your instinct. Fernen has a solid argument as well. My gut feeling is that something splendid will be born out of this whole debate.

[2016-06-07 21:50] cinnamoner commented on #34
@Elbullazul
You once said I'm sometimes hard to understand. I guess that's true.

[2016-06-07 21:53] cinnamoner commented on #34
@Elbullazul
What impression had LinDoz produced in you?

[2016-06-07 22:25] Elbullazul commented on #34
@cinnamoner not had a serious analysis yet.

[2016-06-07 23:07] cinnamoner commented on #34
@Elbullazul
Noticed you've been pushing massively to the repo. How about StarkMenu? I mean, perhaps, the repo should contain a StarkMenu as well. Which of all those options do you find eligible for a possible inclusion into the repo?

[2016-06-08 00:23] Elbullazul commented on #34
@cinnamoner I use bluedxca 'so stark menu.  It's amazing how close it looks compared to the real thing

[2016-06-08 08:30] cinnamoner commented on #34
file structure:
 ls -a  .local/share/cinnamon/applets/
.  ..  StarkMenu@mintystark
ls -a  .local/share/cinnamon/applets/*
.  ..  applet.js  metadata.json  settings-schema.json  stylesheet.css

perhaps the files are in the wrong folder, had that issue and try using
3.0.1 and a cinnamon theme supporting it.

regards bluedxca93

[2016-06-08 10:00] Elbullazul commented on #34
@cinnamoner download the master zip,  extract it and rename the new folder StarkMenu@mintystark and move it to ~/.local/share/cinnamon/applets.

Then right click on the panel,  press the add  applets option and choose stark menu and then click add to panel.

[2016-06-08 10:06] cinnamoner commented on #34
PS: Although I appreciate a cutting edge StarkMenu, I wonder whether backward compatibility has crossed or not anyone's mind.

[2016-06-08 10:12] cinnamoner commented on #34
@Elbullazul
That's all what I was asking for. What about backward compatibility? Does it work on 14.04? The rest of the specs are not an issue for me.

[2016-06-08 10:24] cinnamoner commented on #34
@Elbullazul
I guess it does. Bluedxca93 assumes I know it all. I don't.

[2016-06-08 10:27] cinnamoner commented on #34
@Elbullazul
Thanks for the instro. It should be posted somewhere visible for noobs.

[2016-06-08 11:52] cinnamoner commented on #34
@Elbullazul
Thank you.

[2016-06-08 12:17] Elbullazul commented on #34
@feren I was wondering about the Windows 8 icon pack, would these icons suit you for the cinnamon settings?

![capture du 2016-06-08 08 17 10](https://cloud.githubusercontent.com/assets/15310985/15894016/6ce07a9a-2d51-11e6-90c6-3bd9a3f36fac.png)
![capture du 2016-06-08 08 17 08](https://cloud.githubusercontent.com/assets/15310985/15894017/6cf2a2a6-2d51-11e6-843d-c1c2ef10b4db.png)

[2016-06-08 12:47] cinnamoner commented on #34
@Elbullazul
2 more question and we're done.
Does it not work on 14.04 or what? What specs are you on?
Sorry for being a pain in the eye me.

[2016-06-08 13:49] Elbullazul commented on #34
@cinnamoner no, it works with Cinnamon 2.8 and over

[2016-06-08 14:18] jristz opened #35 "Support gtk-3.20"
This is more a future thing since ubuntu 16.10 (if I remmember correctly) and any future mint based on that will be based on gtk 3.20.

Gtk 3.20 revamp the theming HEAVILY that now is just css, this make gtk3.18 and lower completely incompatible with gtk 3.20 breaking sky and earth, so far mate-themes from git and arc-theme from git and numix-themes from latest git are compatible (if you want base

[2016-06-08 14:32] Elbullazul commented on #35
@jristz thank you for you attention on this subject. I will have a look at the Numix theme (I had no idea it was ready). In the meantime, we have a beta version (very basic support) for gnome, if you want to give it a try

[2016-06-08 15:04] feren commented on #34
@Elbullazul Most of the icons suit it, but if I were you, I'd have System Info using the Info icon like it currently does... (You can make your commits to GitHub now if you want, I'm not stopping you... ;) )

[2016-06-08 15:09] feren commented on #34
Also, @Elbullazul , I've thought of something, how about for the Longhorn one, we could do a collab, you make that Beta 2 one, then I'll finish Pre-reset Jade and Aero Express (Express because Cinnamon has no window transparency), then I could do Slate and then Plex 2.0 and Beta 1 Basic for Metacity and (possibly) Cinnamon and then we could release it as both of us in some sort of "Longhorn Collec

[2016-06-08 15:09] Elbullazul commented on #34
ok, I'll start a repo

[2016-06-08 15:10] Elbullazul commented on #34
just to have things clear, I do the GTK and possibly cinnamon themes?

[2016-06-08 15:11] Elbullazul commented on #34
https://github.com/Elbullazul/Longhorn-Collaboration.git

[2016-06-08 16:12] feren commented on #34
Cool, will upload Jade when ready

[2016-06-08 16:16] feren commented on #34
@Elbullazul We both do the Cinnamon Themes (you can do GTK if you want), I'll finish off Jade and Aero (Express), then will do Plex as it has the most awkward Start Button ever (I have a WindowBlinds port of Plex 2 anyway so that will be ok...)

[2016-06-08 17:43] feren commented on #34
Ok, just added more info to the readme file, listed what to expect out of it on it, if it's ok with you guys...

[2016-06-08 18:14] feren commented on #34
Y'know, I'm goanna really miss 17.3's wallpaper...
![image](https://cloud.githubusercontent.com/assets/11057934/15905555/29fc851e-2dad-11e6-8482-09374e214b3e.png)

[2016-06-08 18:16] Elbullazul commented on #34
oh noooooo!

this is too dynamic for such a conservative distro as Linux Mint :smile:

at least it will save some battery...

[2016-06-08 18:16] feren commented on #34
LOL.

[2016-06-08 19:10] cinnamoner commented on #34
@Guys
10 out of 10 for the Longhorn repo. It's our chance to restore the glory Longhorn/Vista deserves.
I guess "The "Wow" starts now". Thanks. It's an honour and privilege to be part of it.

[2016-06-09 01:29] Elbullazul commented on #32
I conclude some  icons are missing.  I'll try to add them when I can

[2016-06-09 02:31] jristz commented on #35
yeah, I'm using arch and they already have gtk 3.20 so any beta pointing to fix that I will be able to test natively

[2016-06-09 06:36] feren commented on #34
...That's if MS doesn't stop it like they did LH Reloaded, etc, etc. :/

[2016-06-09 12:07] cinnamoner commented on #34
@Elbullazul
Let's make some clarifications.
I think the theme that emulates the pure and final Vista stays in the Redmond repo and all other themes that try to emulate pre-finals (like the beta 2 TP, Jade ... hybrids ... ) In the Longhorn repo. Right or wrong?  Please read it again before answering. Thanks.

[2016-06-09 12:08] Elbullazul commented on #34
@cinnamoner that's right

[2016-06-09 12:11] cinnamoner commented on #34
@feren
They can only stop mass proliferation.

[2016-06-09 12:16] cinnamoner commented on #34
Cool, because that's the only way consistent with the philosophies of all parties involved.

[2016-06-09 12:24] Elbullazul commented on #35
https://github.com/Elbullazul/Windows-10/releases/tag/v0.9.7-beta

give it a try. According to our collaborator @Zerophase it works well. All that's left are some rgba colors to redefine

[2016-06-09 12:31] cinnamoner commented on #35
Gtk issues always drive me nuts. The themes will adapt.

[2016-06-10 08:00] fatihusta opened #36 "Selected Item Not showing Progress"
I'am downloading some files with transmission.
I can't see selected item progress

![transmission_001](https://cloud.githubusercontent.com/assets/11256228/15957819/410675fa-2efa-11e6-9ecb-d232c59cba3e.png)
![transmission_002](https://cloud.githubusercontent.com/assets/11256228/15957820/410b4a26-2efa-11e6-9043-4c6fe0a3bafa.png)

[2016-06-10 12:01] Elbullazul commented on #36
That's gnome 3.18 right?

[2016-06-10 12:52] fatihusta commented on #36
Ubuntu 16.04 Unity7

[2016-06-10 14:09] Elbullazul commented on #36
Ok,  I'll see how to fix this.

[2016-06-10 18:28] feren commented on #34
@Elbullazul
For when Plex and Slate are started, I've uploaded some resources to a link in one of the Repo's "Issues"...

[2016-06-10 23:30] cinnamoner commented on #34
@Elbullazul
Are you there?

[2016-06-10 23:41] cinnamoner commented on #34
![Uploading 20160611_000357.jpg…]()
For Fair Use Only.
@Elbullazul
Is this proof enough?

[2016-06-10 23:48] cinnamoner commented on #34
![20160611_000357](https://cloud.githubusercontent.com/assets/15638605/15981464/8c9192d2-2f7e-11e6-9802-f715b63d3a44.jpg)

[2016-06-10 23:59] cinnamoner commented on #34
For Fair Use Only.
![20160611_001806](https://cloud.githubusercontent.com/assets/15638605/15981607/35a7d47a-2f80-11e6-9161-0bc9f75195d6.jpg)

[2016-06-11 09:22] greenlaw110 opened #37 "Please make font color in dark theme not so white"
The font color in dark theme looks too light.

The following snapshot is the effect I've manually changed `#fff` to `#eee`. See the font in the menu bar, it's still whiter than the font color in my sublime text theme:

![image](https://cloud.githubusercontent.com/assets/216930/15984310/78cbe0e6-3009-11e6-902b-75a0b27fe8e3.png)

[2016-06-11 13:38] feren commented on #34
Just using 5456 in a VM to grab the Old Windows Basic and some other files from it, then will downgrade it after to Beta 1...

Dayum, the timebomb in this build is just a Desktop one that can be worked around with the classic open IE, C:\Windows\explorer.exe trick...

[2016-06-11 13:40] feren commented on #34
@Elbullazul , do you want to invite Cinnamoner to be a collaborator?

[2016-06-11 15:41] feren commented on #34
@Elbullazul

Here's the resources of 5456's Aero theme that contains "Old Windows Basic" in it
https://onedrive.live.com/redir?resid=FDBB94FEC377D26B!1000&authkey=!AO8bWKZnZmOCDcA&ithint=folder%2cbmp

[2016-06-11 18:09] feren commented on #34
@cinnamoner
And the Cinnamon folder will contain a file with the link to the awesome guy that recreated Hillel Start Menu's BG completely:

http://dejco.deviantart.com/art/Hillel-Start-Background-527435193

[2016-06-11 18:31] cinnamoner commented on #34
@feren
For now, let things as they are. I'll let you know when the moment comes.

[2016-06-11 18:34] feren commented on #34
@Guys
Do you like the Aero theme I'm making then (with a full recreation of Vista Beta 2's "Express" theme for window borders)? (Ignore the button fail, I'll eventually manage to fix that) (I used Express because of Cinnamon's lack of transparency in windows)

https://github.com/Elbullazul/Longhorn-Collaboration/issues/5

[2016-06-11 19:10] cinnamoner commented on #34
@feren
I've looked into the Aero Express. The answer is right there. If you can do it, then I like it.

[2016-06-11 19:26] cinnamoner commented on #34
As far as Vista/Longhorn is concerned my picks are:
Vista final (Redmond repo)
Aero Express (Longhorn repo)
Jade and Plex are still pretty nebulous concepts in my head.
I don't advise hybridizations unless for well funded reasons.

[2016-06-11 19:40] feren commented on #34
Aero will be the only hybridization, hopefully.

I thought that since Cinnamon has no Titlebar transparency and that Aero Express at least deserves a chance in Cinnamon to use it for window borders... (I actually recreated it from scratch whilst I was waiting for the Vista Beta 1 ISO to download ready as a bonus theme for the Repo as I'd just got some resources from Vista Build 5456 including the

[2016-06-11 19:40] feren commented on #34
...either that, or Vista's timebomb IS the Windows Activation dialog! O.o

[2016-06-11 20:26] feren commented on #34
@Guys

I've waited so long to say this and now I can
feren OS 2016.1 is now available to download

[2016-06-11 20:39] cinnamoner commented on #34
@feren that's a lot of reading to do. hold.

[2016-06-11 20:52] cinnamoner commented on #34
@feren
First of all, I'm glad your OS is available for download. Is it beta, RC or final?
What about Vista beta 2 build 5270? Where can I get it from?
Obviously the highlight is your OS. I just put both issues in the same comment. So?

[2016-06-11 21:03] cinnamoner commented on #34
@feren
I assume the download link is on your site. Plus release notes n all. I'm really excited about it. I'm heading right there, after your answer.

[2016-06-11 21:08] cinnamoner commented on #34
@feren
I've been disappointed so many times with distros (Makulu included) that I ... hopefully your OS is the one I was waiting for.

[2016-06-11 21:17] cinnamoner commented on #34
@feren
Just to make it easier, please put a link to your site.

[2016-06-11 21:33] cinnamoner commented on #34
@feren
You said it's stable. Is it the final one though?

[2016-06-11 21:37] cinnamoner commented on #34
I guess this is the link

http://ferenos.weebly.com/

[2016-06-11 22:49] cinnamoner commented on #34
@feren
I've looked around and I think your OS (.2) has the potential to be in top 3 best distros for 2016.
Congratulations for the great work and the unique vision.

[2016-06-11 23:07] cinnamoner commented on #34
C'mon Mint 18, lots of things depend on you!

[2016-06-12 07:38] feren commented on #34
Yeah, Clem, make LM 18 Awesome!

ferenos.weebly.com is the right site (Just don't expect StarkMenu until 2016.2)
Release Notes & New Features:
http://ferenos.weebly.com/blog/new-features-in-feren-os-2016-lucid

[2016-06-12 08:03] feren commented on #34
Vista beta 2 build 5270:
https://winworldpc.com/download/425FCB7F-18DA-11E4-99E5-7054D21A8599

(too easy (CTRL+F))

[2016-06-12 08:12] feren commented on #34
To fix Vista Beta 2's Timebomb:
1. Install & Configure Vista Beta 2
2. Log in for the first time
3. On Windows Activation, hit the second option from the top
4. Go into the Address Bar of IE
5. Type C:\Windows\explorer.exe
6. Hit enter
7. Hit Run
8. Hit Run
9. DO NOT CLOSE WINDOWS ACTIVATION, JUST MOVE IT OUT OF THE WAY IF NEEDS BE
10. In IE, look for a Vista Beta 2 Timebomb Patcher
11. Patch the

[2016-06-12 08:38] 15w34r0n3D4y commented on #35
Thank you for theme!

I have question how fix this border? Thank you for answer.

![how-fix-it-win10-gnome-themes-terminal](https://cloud.githubusercontent.com/assets/13278733/15990071/c6cb7ace-3089-11e6-9134-2dcd978d93f3.png)

[2016-06-12 16:07] feren commented on #34
Development of 2016.2 has started. :)

[2016-06-12 16:07] cinnamoner commented on #34
@feren
Obviously.

[2016-06-12 16:32] cinnamoner commented on #34
@Guys,

I have no reason to doubt that Mint 18 (for now beta) will be great in the final version. It's seems it will take some time though. That anoys me a great deal 'cause it impeeds lots of things that could be happening right now. No, that default wallpaper (for what it's worth) and other things as well are not what I was expecting. I'm sure Mint can do better and will.
I'm pretty sure 18.1 (p

[2016-06-12 20:26] cinnamoner commented on #34
...

There's got to be a better way. Just think about what sets it off.
By the way, I like 5270 more and more. So much easier on the eye, elegant, and less bloated.

[2016-06-12 21:01] Elbullazul commented on #34
Ooooh,  I take a two days vacation and I'm flooded with issues... Guess that's how a developer's life is :D

Glad feren os got released and stable.  I'll comment  again when I read everything I got...

[2016-06-12 21:02] Elbullazul commented on #35
Ooooh,  I'll have a look at this first.  What terminal is that?

[2016-06-12 21:11] Elbullazul commented on #37
What color would do, according to you?

[2016-06-13 06:14] 15w34r0n3D4y commented on #35
It's GNOME Terminal 3.20.2 :)

[2016-06-13 12:53] Elbullazul commented on #35
@15w34r0n3D4y try this : open the gtk-contained.css file and search for

then, replace box-shadow: 0 3px etc... with

same for

(inactive)

see how that turns out

[2016-06-13 16:03] cinnamoner commented on #34
@Elbullazul
Sorry, but I'm not guilty for the talent you've been endowed with.

[2016-06-13 16:40] Elbullazul commented on #34
@cinnamoner I was just kidding, I tried to joke about my surprise of seeing so many new open threads.

guess my humor isn't as funny as I though it was :confused:

[2016-06-13 16:41] cinnamoner commented on #34
@Elbullazul
Sorry, but I'm not guilty for the talent you've been endowed with.
Take your time though. It's not like your core supporters are going anywhere.

[2016-06-13 16:49] cinnamoner commented on #34
@Elbullazul
Nothing wrong with your humor. Quite on the contrary.

[2016-06-13 17:19] 15w34r0n3D4y commented on #35
It works, thank you! :+1:

[2016-06-13 17:44] Elbullazul commented on #35
glad it works!

[2016-06-13 17:44] #35 closed

[2016-06-13 19:39] cinnamoner commented on #34
@Guys
Update: Jade is a pleasant surprise for me.

[2016-06-13 19:50] feren commented on #34
#TeamworkPowah

[2016-06-13 20:22] Elbullazul commented on #36
found a solution. still having to implement it in dark theme and repack and we're ready to go

[2016-06-13 20:51] Elbullazul commented on #36
@fatihusta by the way, that one rectangle you added it yourself, right?

[2016-06-13 20:59] fatihusta commented on #36
yes, I added white area for hide torrent name.

[2016-06-13 22:55] cinnamoner commented on #34
@feren
Teamwork indeed. Chapeau bas!!!

[2016-06-14 00:01] Elbullazul commented on #31
Could you do me a favor? Make a copy of mono dark and Try to find the VPN icon by renaming whatever icon looks like the VPN one,  one by one,  and reapplying the icon theme each time you rename a file.

I think it will be easier for you to find the icon,  since you have a VPN and I don't.

If you find the icon,  please post the original name and the path

[2016-06-14 15:49] feren commented on #34
When elementary OS Loki comes out, feren OS will move to AppCenter instead of GNOME Software, just that AppCenter looks real nice...

[2016-06-14 16:11] Elbullazul commented on #34
@feren even cleaner than gnome! that's hard to do these days...

[2016-06-14 16:15] feren commented on #34
IKR? That category options panel is just BREATH TAKING...

[2016-06-14 16:45] Elbullazul commented on #34
screenshot?

meanwhile, I was a little bored of MS styles and made this :
![capture du 2016-06-14 12 42 56](https://cloud.githubusercontent.com/assets/15310985/16051425/c8c48c4e-322d-11e6-8e13-f28f88718b7a.png)

[2016-06-14 16:47] feren commented on #34
@Elbullazul
Oh dayum. (PS: Can you do one that looks like the latest skin (without the line seperating close and maximize)

[2016-06-14 16:48] feren commented on #34
Also
![image](https://cloud.githubusercontent.com/assets/11057934/16051570/39b9248a-3258-11e6-8b4b-e2e2df43a6fb.png)

[2016-06-14 16:51] Elbullazul commented on #34
@feren maaaan, that looks awesome!

yes, I'll remove the line (hadn't noticed the change)

[2016-06-14 18:11] cinnamoner commented on #34
@feren
Awesome!
What's your opinion on AppGrid?

[2016-06-14 18:19] cinnamoner commented on #34
@Guys
I wanna put Cinnamon on Ubuntu 16.04. Kinda Cinnabu. Comments?

[2016-06-14 18:21] Elbullazul commented on #34
I would wait for mint 18 or at least install the beta before. Ubuntu on cinnamon is very sluggish & unstable

[2016-06-14 18:25] cinnamoner commented on #34
@Elbullazul
So I've heard myself.

[2016-06-14 18:29] cinnamoner commented on #34
@Elbullazul
What versions of gtk will 18 sport? And will it be a headache to adapt the themes?

[2016-06-14 18:36] Elbullazul commented on #34
@cinnamoner the GTK library included is 3.18. All themes (except the old ones from the B00merang Repo and almost all from the Redmond repo) are ready to run with Gnome 3.18.

For those, we'll have to wait till LM 18 gets on my machine (I have the beta downloaded, but probably will wait for stable release)

[2016-06-14 18:45] cinnamoner commented on #34
@Elbullazul
Yeah. That's good. When do you think 18 final will be released? Not even RC yet.

[2016-06-14 18:50] cinnamoner commented on #34
@Elbullazul
Noob questions, I guess.

[2016-06-14 19:02] cinnamoner commented on #34
@Elbullazul
I'm worried about Cinnamon though.

[2016-06-14 19:15] feren commented on #34
@Guys
Yeah, I'm usually offline after 7:00 PM for the day unless I go back on it like now...

@cinnamoner Yeah, AppCenter is beautifully designed in every espect, so want to have it in feren OS but it's not STABLE yet (but then, neither is feren OS 2016.2's base... :/)
Also: embyosn has a Cinnamon 3.0 repo for Ubuntu 16.04... (https://launchpad.net/~embrosyn/+archive/ubuntu/cinnamon)

@Elbullazul

[2016-06-14 19:18] feren commented on #34
Also, sorry to say this but, there's a menu issue on the Longhorn GTK and Vista GTK, etc where it has the menu bg with a border off-aligned like this: (Screenshot off of feren OS 2016.2 UNDER CONSTRUCTION Pre-Alpha release)
![screenshot from 2016-06-14 19-17-56](https://cloud.githubusercontent.com/assets/11057934/16056368/bdb23ac2-3264-11e6-9656-f4814d30c471.png)

[2016-06-14 19:34] Elbullazul commented on #34
@feren thanks for the tip. I guess this is what @bluedxca93 was talking about here :

https://github.com/Elbullazul/Redmond-Themes/issues/3

I'll probably use his fix for all themes. First need to apply it

[2016-06-14 20:17] bluedxca93 commented on #34
@Elbullazul yes! that error. use gtk3 widget factory to check. there you find all 3-4 menu types....

[2016-06-14 23:42] Elbullazul commented on #34
@bluedxca93 I've implemented this fix for the themes mentioned above.  It looks like the windows 10 theme doesn't get this problem.  Can you confirm?

[2016-06-15 10:48] cinnamoner commented on #34
@feren
No offense intended, but that doesn't have any significance unless you specify the timezone (for example GMT + 0x).

[2016-06-15 12:20] cinnamoner commented on #34
@feren
If building an OS would be easy, I guess everyone would be doing it. I trust your abilities.

[2016-06-15 16:04] feren commented on #34
LiveCDCustomization, it's quite easy once you get used to commands, next build, branding... Then Icons, Themer, etc.

[2016-06-15 23:19] 15w34r0n3D4y opened #38 "Cinnamon Dark Theme bug"
How can I fix it? Thank you!

![cinnamon-bug-win10-t](https://cloud.githubusercontent.com/assets/13278733/16100685/5711111a-3360-11e6-8d33-1ff62d96afe3.png)

Nemo 3.0.3
Files 3.20.1

[2016-06-16 00:22] Elbullazul commented on #38
Use the beta version from here : https://github.com/Elbullazul/Windows-10/releases/tag/v0.9.7-beta

unfortunately,  we aren't ready to create a dark variant yet,  but if you ask,  I can provide a temporary solution

[2016-06-16 01:48] 15w34r0n3D4y commented on #38
I try beta version but it's only light theme I love dark theme can you tell me a temporary solution, please :hand:

[2016-06-16 01:50] Elbullazul commented on #38
ok, here's what we'll do : download the beta release while I write a quick gtk.css file to change the colors.

deal?

[2016-06-16 01:51] 15w34r0n3D4y commented on #38
Ok, thank you again.

[2016-06-16 02:00] Elbullazul commented on #38
@15w34r0n3D4y ok, here is the corrected dark file (haven't time to test it, you tell me if it's ok) :

open the gtk.css file in Windows 10 Beta/gtk-3.0 and replace ALL code with the following : http://pastebin.com/iJJL6VcM

Please post a screenshot of the resulting theme, I'm curious how it will look :D

[2016-06-16 02:16] Elbullazul commented on #38
@15w34r0n3D4y sorry to insist, but have you tried the patch?

[2016-06-16 02:44] 15w34r0n3D4y commented on #38
Download beta source and put gtk.css on gtk-3.0 in Dark Theme folder here is screenshot ....

![win-theme-cinnamon-2](https://cloud.githubusercontent.com/assets/13278733/16103924/0009a810-337d-11e6-9bee-01605933bef5.png)

[2016-06-16 03:01] Elbullazul commented on #38
Mmm,

I think there's a misunderstanding here.

Have you installed the beta release?

[2016-06-16 03:02] Elbullazul commented on #38
This fix only works for the original beta code

[2016-06-16 03:07] 15w34r0n3D4y commented on #38
Original you mean Light beta? And then put in new css file?

[2016-06-16 10:58] Elbullazul commented on #38
@15w34r0n3D4y il have to test that.  I'll be back in an hour or so

[2016-06-16 13:52] Elbullazul commented on #38
had to correct some colors, so I did a complete dark variant at the same time. here's the file
[Windows 10 Dark.zip](https://github.com/Elbullazul/Windows-10/files/318531/Windows.10.Dark.zip)

[2016-06-16 15:09] Thisuu opened #39 "File manager (nautilus) under gtk 3.20 has white color shadow."
As i noticed, Light theme is having a white color shadow for some apps like nautilus. There were also few bugs in gnome shell theme and i resolved them myself. Anyway,it's a great theme!

[2016-06-16 15:14] Elbullazul commented on #39
@Thisuu can you post your fixes for Shell please? I rarely get to use that platform, so any help is very much appreciated.

the shadow color I'm trying to find the cause, it's really weird. On fedora 24 I don't have that, I'll give it a try on manjaro 16.06

[2016-06-16 19:15] cinnamoner commented on #34
@Guys
Update:
My picks are: 10, Vista, Jade, Express. (The order is not relevant).

[2016-06-16 19:36] feren commented on #34
This is what OD has to say about the new GNOME Look:
"Hello Opendesktop.org users,

welcome to our new community page here on facebook.

While activating some of our social channels again, we are also preparing a small blog on the frontpage which we will be posting news and updates about whats going on around the OD services in the near future.
As most of you have probably noticed, we have started

[2016-06-16 19:41] Elbullazul commented on #34
yeah, right!

I lost all supportes of the WinX TP in the transition (not a big deal, but still weird to see a 83k download project without a supporter!)

[2016-06-16 19:53] feren commented on #34
@Elbullazul
How do you set up Git for Linux to work on my account? (I've tried to set it up to no avail)

[2016-06-16 19:59] cinnamoner commented on #34
C'mon. I've probably noticed, yeah. A truckload of crap.

[2016-06-16 20:56] cinnamoner commented on #34
@Elbullazul
Signin out now. Congratulations for Vista!

[2016-06-16 23:45] Elbullazul commented on #34
@feren hum, you set origin and the when you push it prompts your username and password

do you want it to stop asking?

[2016-06-17 04:38] 15w34r0n3D4y commented on #38
Thank you again.

Btw on GTK 3.14.5-1 and Files 3.14.1 not show windows button (see screenshot), Nemo 2.2.4 showing fine.

![gtk-3 14-files](https://cloud.githubusercontent.com/assets/13278733/16140877/b4400c74-3455-11e6-8417-8e27a18b8f91.png)

One more question, which menu you use like on your screenshot is this Dexi Menu?
Screenshot: https://cloud.githubusercontent.com/assets/15310985/16102805/2

[2016-06-17 11:56] Elbullazul commented on #38
@15w34r0n3D4y the menu is the Slingshot launcher : https://github.com/jfarthing84/cinnamon-slingshot

I think GTK 3.14 and lower used Metacity for window decoration. I don't know how to change those except maybe with dconf or gconf

[2016-06-17 15:10] feren commented on #34
No, as in how do you set it up with the user name, email and password to get it to push properly to server (I've tried but it's Permission Denied for authentication to repos) in Linux? So far, I've only been able to push it from the Windows App...

[2016-06-17 15:35] Elbullazul commented on #34
Have a look at this http://readwrite.com/2013/10/02/github-for-beginners-part-2/

[2016-06-18 03:59] 15w34r0n3D4y commented on #38
I try with gnome tweak tool but no effect. :/

[2016-06-18 12:09] feren commented on #34
Just playing with 4074 TWIWMTB, getting some resources from it, msstyles, wallpapers, etc...

[2016-06-18 15:45] feren commented on #34
And now, the first version of the Longhorn Icon Set, is now here.

[2016-06-18 15:49] feren commented on #34
@Guys
One of the best ever Longhorn Concepts: :)
![image](https://cloud.githubusercontent.com/assets/11057934/16171955/aa63f75e-3574-11e6-9bf5-5f1588e8ee28.png)

[2016-06-18 16:09] cinnamoner commented on #34
@feren
Totally off-topic, but I wonder what benefit may possibly come from hybridizing a Debian and a Ubuntu base? Yeah Makulu again. Do you think LinDoz is worth a DVD or not?

[2016-06-18 16:43] feren commented on #34
@cinnamoner
I've always thought of rebasing feren OS into LMDE/Debian in future feren OS versions, it already shows sign of doing so in the concepts... About Makulu though, it has less choice than Zorin OS Premium and/or feren OS... Depends what you think about it.

[2016-06-18 16:45] cinnamoner commented on #34
@feren
Guess Elbullazul is on a short vacation again. But that does good to him. Sun, fresh air, ...

[2016-06-18 16:49] cinnamoner commented on #34
@feren
Guess you're right. No reviews yet thought. I'm not counting the French guy's. Cause that guy seems to need therapy.

[2016-06-18 17:19] cinnamoner commented on #34
@feren
Mint 18 won't contain codecs by default ... hmm. What's next? We'll end up paying for proprietary codecs   I guess.

[2016-06-18 17:23] cinnamoner commented on #34
@feren
That speech to text engine on YouTube does a poor job. Boy o boy!

[2016-06-18 17:33] cinnamoner commented on #34
@feren
One good thing in Makulu is the Constructor (based on code from Remastersys and Refracta).

[2016-06-18 17:37] cinnamoner commented on #34
@feren
I guess I'm boring.

[2016-06-18 18:29] cinnamoner commented on #34
@feren
FerenOS will be great, I'm sure.

[2016-06-18 18:38] feren commented on #34
@cinnamoner
There's a reason for that, meet Install Multimedia Codecs:
![screenshot from 2016-06-18 18-38-07](https://cloud.githubusercontent.com/assets/11057934/16172991/da0e48e2-3583-11e6-97ac-2db5d3841dc5.png)

[2016-06-19 02:55] #39 closed

[2016-06-19 08:13] feren commented on #34
Next feren OS 2016.2 Build: All GTK Themes have thumbnail files of their respective themes

[2016-06-19 14:09] feren commented on #34
@Guys
Just made a mod of the panel in Jade to make IT look like Longhorn's minimized sidebar concept... (Like the one in the one above)

[2016-06-19 14:39] bluedxca93 commented on #34
@feren why not make a simple theme installer for ubuntu based systems?

[2016-06-19 14:52] Elbullazul commented on #34
@bluedxca93 that's what I was thinking.  I've been exploring the possibility to make a shell script that would do just that (I'm a newbie when talking about gtk or python)

[2016-06-19 15:15] feren commented on #34
Good idea, would need to learn a bit more of bash though... Also, would need to learn Vala before it becomes graphical...

[2016-06-19 15:16] feren commented on #34
#Update
Aero theme and mod of Jade GTK to match added to repo under Themes... Still has that metacity bug hence the (Work in Progress) name.

[2016-06-19 16:00] bluedxca93 commented on #34
@feren
single archive theme dark theme installer by bluedxca93.
Attention very dark script, can install a selected theme on your
harddisk !attention!.
usage:
./whatyounamedit themefile
mktemp and basename can possibly replaced by a bash function.

[2016-06-19 16:32] cinnamoner commented on #34
@feren
I know. Wasn't necessary to put up screenshot. There's a reason indeed. But it's not what they're saying.

[2016-06-19 16:43] cinnamoner commented on #34
Bash makes end users life easier, provided it comes from well-intended  people.

[2016-06-19 17:18] cinnamoner commented on #34
Sarah, I'm waiting for you. Might even fall in love with you.

[2016-06-19 18:34] cinnamoner commented on #34
Some people favor an automatic gearbox, some others a manual one. Both types should be granted satisfaction. Yeah, I'm talking bash.

[2016-06-19 20:14] cinnamoner opened #40 "About the key theme of the lineup"
_And of course I'm glad to see it going ahead so well. Thank you._

[2016-06-19 20:15] #40 closed

[2016-06-19 21:17] cinnamoner commented on #34
S

[2016-06-19 21:31] cinnamoner commented on #34
My bad ... reopened. It's becoming quite heavy though. Perhaps an Off-topic 2nd volume? It's up to you though.

[2016-06-19 22:40] Elbullazul commented on #34
@cinnamoner I don't think so, if look remains as disastrous as it is (which it probably will) we'll be flooding the repo with new themes every month...
BTW I saw you discovered italics on other threads :smiley:

[2016-06-20 06:42] feren commented on #34
Nah, we can stop after we make what we wanted to + bonus themes right?

[2016-06-20 16:55] feren commented on #34
Well, let's hope that was worth the time of doing, just made EVERY pre-installed theme (so far) have a preview for GTK and Metacity on them (for Cinnamon Settings Themes)...

#Perfection #2016.2

[2016-06-20 17:27] Elbullazul commented on #34
:scream: man, that's HUGE work!

can't wait to have a look at that :smiley:

[2016-06-20 17:48] feren commented on #34
Next build: Those previews for ALL themes and Inspire 1.1 Icons

[2016-06-20 22:02] Elbullazul commented on #38
@15w34r0n3D4y I just found this, maybe it will work (hope it does)

Run in terminal:

[2016-06-20 22:07] Elbullazul commented on #34
@bluedxca93 I'm working on a secure web-fetching shell script with an offline library to fetch the themes correctly. Then I run a checksum verification and install the theme in a special folder and create a symlink to theme folder. I'm working now on getting the database to get updated (for the checksums)

[2016-06-21 06:48] feren commented on #34
@Elbullazul
Any last progress on Old Windows Basic before you stop making it? (Just curious to see how it became in the end)

[2016-06-21 10:42] Elbullazul commented on #34
@feren I'll  work on it today, I just need to replace the Window buttons and I'm done (metacity theme at least)

Do you want anther gtk theme for basic?

[2016-06-21 15:26] feren commented on #34
Nah, I'd probably be ok just editing Jade GTK to make it look like Windows Basic... ;)
(I might need to change the menu bar back though)

[2016-06-21 16:05] feren commented on #34
Fun Longhorn Fact: Jade + Aero = Windows Basic for Pre-reset builds
Proof: I tried Longhorn TWIWMTB, could get all the aero-ness on it except for DCE meaning I had a non-transparent Aero taskbar/sidebar (like the Jade theme) and Jade for all windows... (Even Aurora for Details Pane was drawing correctly and perfectly)

[2016-06-21 16:20] feren commented on #34
Well, that's the icon set done, now to build the next ISO...

[2016-06-21 16:50] Elbullazul commented on #34
@feren you're starting to build ferenOS 2016.2? already?

[2016-06-21 17:58] feren commented on #34
Yep, in part by part, see how it works and then fix bugs along the way...

[2016-06-21 18:21] Elbullazul commented on #34
@feren but your website is ferenos.weebly.com! :smile:

sorry for the mispelling

[2016-06-21 18:22] feren commented on #34
Probably because
1. Dashes are more awkward type than without
2. Spaces are impossible in URLs

[2016-06-21 19:34] Elbullazul commented on #34
@feren I know, I was (again!) trying to make a (lame) joke

I'll stop one day though...

can you push the plex and the other cinnamon to the longhorn repo please?

[2016-06-21 19:42] cinnamoner commented on #34
I'm noticing I've been abusing emoticons quite heavily. A thumb up once in a while does no harm but this is too much and utterly unnecessary.

[2016-06-21 20:09] cinnamoner opened #41 "Checksums"
@Elbullazul
I now it was me to suggest them, but SHA512 is overkill. MD5 or SHA1 would suffice.

[2016-06-21 21:17] Elbullazul commented on #41
@cinnamoner I prefer sha512. I don't know how MD5 works, but with SHA512 it's less likely to get a duplicate.

anyhow, I prefer 512 because that's with what I started.

but if you want to I can include MD5 too

[2016-06-22 06:33] feren commented on #34
@Elbullazul
If I did right now, window list in Slate would look like Luna and Plex would be like Royale (not changed applet BG yet, sorry)

[2016-06-22 15:41] feren commented on #34
Plex is ready, about to push it to repo...

[2016-06-22 16:03] feren commented on #34
Bruh... (Now available)
![image](https://cloud.githubusercontent.com/assets/11057934/16273890/43024aa0-389b-11e6-9f29-3ce4513d2cf9.png)

[2016-06-22 16:28] Elbullazul commented on #34
@feren cool! :D

I'm a bit short on time lately, I'll try to do the fixes as soon as I can

[2016-06-22 21:20] cinnamoner commented on #41
@Elbullazul
You bet. Like once in a trillion. Multiple checksums would be a headache. Okay, then keep the SHA512 but put the name of the algorithm in front of the string, like: SHA512: .....
There's also SHA256 which would be good enough but it's up to you.

[2016-06-22 21:21] #41 closed

[2016-06-22 22:46] Zerophase commented on #41
Personally, I just download the packages and check what the SHA1 sum is.

[2016-06-22 23:02] Elbullazul commented on #41
@Zerophase does arch require checksums before installing the package

[2016-06-23 01:36] Zerophase commented on #41
It doesn't require them. Usually, it's recommended to check that the package downloaded correctly. So, a sha1 sum does the job.

[2016-06-23 15:36] feren commented on #34
@Elbullazul
Now your turn to mod the GTK theme for the metacity theme of Plex... ;)

PS: For toolbar background, the best thing to do is open the titlebar middle file in Metacity via an Image Editor like GIMP, then copy the exact bottom row of pixels in the image and use THAT as the toolbar image, it's similar to how it's done in 4039... (PS: If you ever think about wanting to, DON'T INSTALL LONGH

[2016-06-23 22:32] cinnamoner commented on #41
@Elbullazul
Whenever you download and a checksum is posted, make sure you use the double-blind method. Me paranoid? No Sir. The father of Linux checksums the checksums.

[2016-06-23 22:36] cinnamoner commented on #41
@Elbullazul
Virustotal doesn't go any higher then SHA256.

[2016-06-23 22:45] cinnamoner commented on #41
Again, checksumming is performed:
1) To make sure the package hasn't accidentally corrupted.
2) To make sure the package hasn't been tempered with by a third party (possibly with malicious intent).

[2016-06-23 22:48] cinnamoner commented on #41
@Elbullazul
And one more, very important, about cheksumming: make sure it doesn't turn into compulsion.

[2016-06-23 22:59] cinnamoner commented on #41
@Elbullazul
What do you mean by duplicate? What are the odds for someone the create a clone of your zip?  Not even you can create two identical zips unless by copy-paste.
Perhaps you've refered to a collision. That's a rare event. Like really rare.

[2016-06-24 23:43] 15w34r0n3D4y commented on #38
@Elbullazul nope, not working. :/

[2016-06-25 11:25] feren commented on #34
Next build: Applets (old and new)
New Applets in the coming build:
1. Weather
2. StarkMenu!!
3. MessagingMenuV3

[2016-06-25 12:59] feren commented on #34
Just like Microsoft to crash the party eh?
![ayyyyyyyyyyyyyyyyyyy](https://cloud.githubusercontent.com/assets/11057934/16356812/f6303dce-3adc-11e6-8486-e2249a0c0dba.png)

[2016-06-25 19:30] bluedxca93 commented on #34
@elbullazul @feren
any good easy to use css parser that is flexible small and on c/c# or lua that could read gtk code?.
it would improve my porting script project significantly for post processing some bugs automatically.

[2016-06-25 23:23] cinnamoner commented on #34
@Guys
Please tell, is any of you still using optical disks (like DVDs) for any purposes? They're a headache. Or not? I think they were invented to give laser diodes a purpose. Hehehe.

[2016-06-25 23:32] cinnamoner commented on #34
@Elbullazul
Vista is aesthetic masterpiece but somewhat heavy on the eye. 10 is more calming on the brain.

[2016-06-26 01:45] Elbullazul commented on #38
I don't know then.  3.14 apps were made to run with metacity themes,  but 3.20 is supposed to redirect those system calls to ssd decorations.

I'll search a bit more,  but I don't think there's a way to change the metacity theme from 3.20 to 3.14

[2016-06-26 04:37] bluedxca93 commented on #34
@cinnamoner i still use them sometimes, my computer doesnt boot from usb...

[2016-06-26 08:39] feren commented on #34
@cinnamoner  Still use them too, my computer DOESN'T boot from CD/DVD (afaik)

[2016-06-26 08:40] feren commented on #34
...And StarkMenu is now part of feren OS!

[2016-06-26 09:13] feren commented on #34
Next Build: Send Feedback on feren OS

[2016-06-26 14:19] feren commented on #34
When Vivaldi 1.3 is released as Stable, there will be two extra themes, feren (will be Default) and feren Dark (like in this picture from Windows): (Notice the rounding to make it match feren GTK and the wanna-be feren GTK Dark?)
![image](https://cloud.githubusercontent.com/assets/11057934/16362854/3fc1f3c2-3bb1-11e6-8ff2-50eb1278698e.png)

[2016-06-26 14:26] Elbullazul commented on #34
Looks interesting...

Seems like feren os 2016.2 will be the best version to date!

[2016-06-26 14:46] feren commented on #34
@Elbullazul
Now we just need 1.3... ;)

[2016-06-26 14:55] feren commented on #34
Hmm, according to a test install, 2016.2 is plagued by the same install bug 2016.1 had, hmm.....

[2016-06-26 16:22] feren commented on #34
Just moving the livecdtmp folder to another drive to keep it unaffected by fsck's to /home...

[2016-06-26 19:32] cinnamoner commented on #34
@My Friends

https://m.youtube.com/watch?v=M57Fi19vcSI

Enjoy!

[2016-06-26 20:08] cinnamoner commented on #34
It all started with Win 10 ...

https://m.youtube.com/watch?v=WZEJ4OJTgg8

[2016-06-26 21:05] cinnamoner commented on #34
@feren
Glad about Stark in Feren OS.

https://m.youtube.com/watch?v=1ZlnUbfyV2c

[2016-06-26 21:52] cinnamoner commented on #34
https://m.youtube.com/watch?v=m6xWGVhZl1g

[2016-06-26 23:24] cinnamoner commented on #34
Oops! To be continued ...

[2016-06-26 23:33] cinnamoner commented on #34
@Guys
I still use DVD myself. It's just that optical disk tec is whimsical. So many unpredictable factors go into a good burn.

[2016-06-26 23:47] cinnamoner commented on #34
Don't tell me about the cloud please. What if it evaporates?

[2016-06-27 06:23] feren commented on #34
Then Google will just make some more clouds with Real Cloud Technology...

[2016-06-27 06:24] feren commented on #34
@cinnamoner
...For now, I'll use Flurry in feren OS...

[2016-06-27 19:18] 15w34r0n3D4y commented on #38
Ok, thank you anyway. :)

[2016-06-27 23:24] #37 closed

[2016-06-27 23:25] Elbullazul commented on #36
V0. 9.8 fixes this

[2016-06-27 23:25] #36 closed

[2016-06-27 23:26] Elbullazul commented on #31
Have you found out something?

[2016-06-27 23:34] Elbullazul commented on #34
@feren what would you think on a theme based on jds Solaris 10?

[2016-06-28 04:29] bluedxca93 commented on #34
@elbullazul. gtk2.6 is outdated.
optically similar maybe yes.

[2016-06-28 06:27] feren commented on #34
@Elbullazul
Yea, same here.

[2016-06-28 08:24] fatihusta commented on #31
Hi
Sory, I'am late, because very busy with my job.

I searched into ubuntu-mono-dark and i found some icons.
Every settings for 16x16 and 22x22 and 24x24
I tested 22x22

1- VPN Connection animations
//links
[code]
//images
[code]

2- VPN Secure lock
//sample different secure icon

//Wired Secure
[code]
//Wireless Secure
[code]
Worked for me.

3- Other VPN Secure lock - (No my case)
//Links
[code]

[2016-06-28 19:13] cinnamoner commented on #34
@Elbullazul
Excuse my ignorance, but what's that?

[2016-06-28 19:20] bluedxca93 commented on #34
@cinnamoner similar in functionality to traditional ok/ clearlooks but
the standard theme of solaris 10.

[2016-06-28 20:53] cinnamoner commented on #34
@bluedxca93
Thank you. What's your objective opinion on Makulu Lindoz? Interestingly, no reviews. Strengths an' weaknesses.

[2016-06-29 06:56] feren commented on #34
Linux Mint made its debut yesterday! #GotItFromSoftpedia

[2016-06-29 12:58] bluedxca93 commented on #34
@feren when comes 18 out for real?

[2016-06-29 13:30] feren commented on #34
Now.

[2016-06-29 13:45] bluedxca93 commented on #34
@feren really?
where are download links?
mint 18 uses gtk 3.18..

b.t.w any interest in putting my ambiance port for 3.20 online.  its
soon something usable .

[2016-06-29 15:05] Elbullazul commented on #34
oh, so all the updates I got yesterday were the upgrade to 18? yay!

[2016-06-29 16:37] feren commented on #34
The Irish Server that usually gets it FIRST has got the ISO, I guess Clem is waiting for ALL OTHER Servers to Update to reflect the changes... ...and then announce the Stable

[2016-06-29 16:38] feren commented on #34
@bluedxca93
Your options right now are:
1. BETA, then update all packages, your on Stable
2. Irish server (link found in Softpedia article)
3. Get if off of Softpedia

[2016-06-29 16:41] feren commented on #34
Working on an edit of Arc for GTK3.18 to port into feren Theme, so far, fricking awesome compared to the preview version of feren Theme. Now working on la Dark Mode theme. ;)

[2016-06-29 16:42] feren commented on #34
Hey @Elbullazul , have you got my fix for Chromium OS Cinnamon yet?

[2016-06-29 18:43] feren commented on #34
The power of Dark Metacity

#Teaser #2016.2

[2016-06-29 18:55] cinnamoner commented on #34
@Guys
I don't know what's the talk about. Let me know when it gets final n downloadable from the official website though. Isn't the RC that comes after beta? Then final. I'll wait it out. N' not gonna rush to download final although I'm dreaming of Sarah. Hope she'll be sexy.

[2016-06-29 19:00] cinnamoner commented on #34
@feren
Yeah. Clem is wise.

[2016-06-29 19:10] cinnamoner commented on #34
@Elbullazul
The WXID has been updated again. Latest on June 15th if I recall correctly. Minor changes. But still.

[2016-06-29 19:19] cinnamoner commented on #34
I guess nobody wants to discuss Lindoz. Hey, I've got a fixation, okay?

[2016-06-29 19:33] cinnamoner commented on #34
@Elbullazul
So now you're working for Google as well, I guess.

[2016-06-29 20:00] feren commented on #34
Bruh, now it looks amazing:
1. Major Upgrade to feren GTK from 3.18 support to the tiny details
2. New DARK Theme
3. Send Feedback Application for Send Feedback obviously

[2016-06-29 20:46] cinnamoner commented on #34
@feren
You're talking 'bout Mint 18, I guess.

[2016-06-30 12:31] Elbullazul commented on #34
@feren I think 5px is a bit too big...

[2016-06-30 15:08] feren commented on #34
Nah, 4px is nearly what Chrome OS uses for its black bar height...

[2016-06-30 23:09] cinnamoner opened #42 "On-topic Discussion About Budgie Desktop Environment"
_Welcome to Budgie Desktop Environment Discussion Thread_
_Let's practice order and logic!_

[2016-07-01 12:29] cinnamoner commented on #42
@Elbullazul

https://m.youtube.com/watch?v=LYvX4hDFXKg

https://m.youtube.com/watch?v=RfDyfHKRmz0

I'm not posting 'em 'cause I'be got nothing better to do. Please watch n listen with some attention.
Thank you.

[2016-07-01 14:01] cinnamoner commented on #42
@Elbullazul
Okay. I realize I might have been a bit rough around the edges in expression. That wasn't my intention though. It's just that I'm looking at this beta 18 n I'm frustrated with it. I really hope they'll improve 'cause this is what the name says. A beta.
As far as Stark is concerned, I really think it's the best menu for Cinnamon. They should make it default for Cinnamon. Or if they don'

[2016-07-01 15:08] cinnamoner commented on #42
@Elbullazul
You know what? Let's put it in the standby ideas category. It's a hybrid desktop. And you've got so much going on already. I'm not deleting it, just shutting it down.

[2016-07-01 15:47] feren commented on #34
Thanks Charlie Henson!!
https://www.youtube.com/watch?v=PWPjMqNnBKo

[2016-07-01 16:46] cinnamoner commented on #34
@feren
@Elbullazul
I intend to dedicate my next week to a thorough evaluation of all eligible distros and themes. Cheers.

[2016-07-01 16:50] cinnamoner commented on #34
@feren
Hey, ferns. So you're there. Where's the big boss? I hope he's on vacation with a girl.

[2016-07-01 17:12] cinnamoner commented on #34
@feren
Okay. Seen Charlie's video. Say are any of you still active on Look? And who's moved to Deviant apart from you? Yes I like your work. It will be included in my evaluation. All of it.

[2016-07-01 17:22] feren commented on #34
I updated it on Look before I then uploaded it to DeviantArt, hence, the changlog font...

[2016-07-01 19:13] cinnamoner commented on #34
@feren
Are you still there? I've got 2 questions.

[2016-07-01 19:24] feren commented on #34
Yes, was just busy emailing the original concept designer... ;)

[2016-07-01 19:44] cinnamoner commented on #42
@Elbullazul
Preferably, a Budgie only fork. Not bundled. I'm looking forward to hear from you n learn your insights.

[2016-07-01 20:49] Elbullazul commented on #34
@feren man, your icons look awesome!

I'll give them a try soon :wink:

[2016-07-02 07:33] feren commented on #34
Yeah, thanks, also, thanks to IncludeThibault for the first of the icons and the theme design...

[2016-07-02 11:56] cinnamoner commented on #42
@Elbullazul
Yeah / Nay?
Please say a short word about what you're cooking right now and about your roadmap. Thanks.

[2016-07-02 12:28] cinnamoner commented on #34
@feren
1) Linux Mint Debian Edition 2 aka LMDE2
Is it possible to freeze your Cinnamon version or It just rolls ahead and one can't do anything about it?
If you're not sure, then better don't answer it.
2) How do you fancy the Budgie DE and the Ubuntu Budgie Remix. Full coverage on the threat in the Win 10 repo.
That would be all. I can't stay indefinitely on Git. I've got knowledge to absorb.

[2016-07-02 12:33] feren commented on #34
1. sudo apt mark hold cinnamon cinnamon*
2. Yeah, Budgie looks very good with that dock on the left... What threat now!!?

[2016-07-02 12:57] cinnamoner commented on #34
@feren
I guess that was for Elbullazul only. It's out of context. How do you want me to understand it without some digging on my part. It might not be very important though. But give it some thought, if you want to.

[2016-07-02 13:00] cinnamoner commented on #34
@feren
Thank you for the 2 answers. Appreciate it.

[2016-07-02 13:03] cinnamoner commented on #34
@feren
If I install LMDE2 and I want Cinnamon 2.8.8 frozen on it, how should I proceed?
1), 2), ...

[2016-07-02 13:16] cinnamoner commented on #34
@feren
I like the terminal. It's just I would need a little in-detail help. I don't recall what version of Cinnamon you have upon install. It sure isn't 2.8.8. I want to update to 2.8.8 and then freeze it. If I haven't been clear enough, please ask. I want to include LMDE2 in my eligible distros lineup.

[2016-07-02 13:36] feren commented on #34
1. It has Cinnamon 2.6 according to 'New Features'
2. About 2.8, they said this about LMDE in 2.8's announcement:
 "On behalf of the team and all the developers who contributed to this build, I am proud to announce the release of Cinnamon 2.8!

This new version will be featured in Linux Mint 17.3 “Rosa” planned for the end of November and in **LMDE 2 “Betsy”**."

[2016-07-02 13:37] cinnamoner commented on #34
@feren
LMDE2 is based on Debian 8 stable (Jessie ). I guess, Mint won't will release LMDE3, until the next stable  from Debian comes out, right? Do you have any idea when will that happen? Roughly.

[2016-07-02 13:38] feren commented on #34
Uh, dunno. :/

[2016-07-02 13:42] cinnamoner commented on #34
@feren
Good. Thank you. I just need to read what's on the Mint site more thoroughly, I guess. Wasn't a major preoccupation of mine lately.

[2016-07-02 13:45] cinnamoner commented on #34
That translates in I don't known. Good sense of humour you've got, you. Thanks.

[2016-07-02 14:22] cinnamoner commented on #34
Cosmetics performed

[2016-07-02 16:19] cinnamoner commented on #42
@Elbullazul
If you're having fun, that's good. If something has made you unhappy, reject it at once. Nobody will get upset about it.

[2016-07-02 17:24] bluedxca93 commented on #34
@feren @elbullazul  @cinnamoner got now cinnamon from sarah repositories
running. It seems to have some interesting bugfixes and a different speed ,
but couldn`t find much new features  compared to 2.8.6.
AFAIK tell atm mint 18 is one of the best ubuntu/debian based distribution
release. It does not matter if you chose mate or cinnamon both are better
than unity for an easy to use system once you

[2016-07-02 18:52] cinnamoner commented on #34
@bluedxca93
Gnome 3 and Unity are based on the same concept. They are okay for tables and no good for the desktop.
For the desktop, I recommend Cinnamon (fork of Gnome 3). It has a logical, straightforward layout. If one is comming from Windows, he/she feels right at home. Traditional layout but the newest code for a desktop environment.
If one prefers a more modern layout, I recommend Budgie DE d

[2016-07-02 19:24] cinnamoner commented on #34
This mobile piece of ... is freezing on me. Had to edit it several times to get it acceptable.

[2016-07-02 19:28] feren commented on #34
Just a screenie of Live I took this morning:
![screenshot from 2016-07-02 11-20-01](https://cloud.githubusercontent.com/assets/11057934/16542125/8a3733ae-4093-11e6-922e-65fbbbb04576.png)

[2016-07-02 19:44] cinnamoner commented on #34
Next subject: Flat vs Isometric and Nonsense Trend Initiated by Google Material Design.

@feren
Nice screenie!

[2016-07-02 19:52] cinnamoner commented on #34
Next subject: How Come Windows 10 Only Has Twice as Many Users Vista Has?

[2016-07-02 20:01] bluedxca93 commented on #34
cause win10 is still a little bit confusing and users fear forced upgrades..

isometric icons can sometimes look better but for a normal user a flat
icon set is more familar. And some not nice looking isometric icons
can be represented as a flat one easier. also isometric ones need more
space.

[2016-07-02 20:32] cinnamoner commented on #34
@feren
Why aren't you laughing? Am I entertaining myself, or what?

[2016-07-02 20:35] cinnamoner commented on #34
@bluedxca93
Would you have Windows 10 for your daily driver or not?

[2016-07-02 20:40] cinnamoner commented on #34
@bluedxca93
And you used the word "fear". Why would people be afraid? They haven't done anything wrong, have they?

[2016-07-02 20:47] cinnamoner commented on #34
@bluedxca93
Methinks the icons on the desktop should be isometric. The rest, flat. And in System Settings, pseudo isometric (just as you pointed out).

[2016-07-02 20:50] cinnamoner commented on #34
Methinks Windows 10 has reached the finest balance. Lookwise.

[2016-07-02 20:54] cinnamoner commented on #34
People are a little confused. How much time do you think they need for their confusion to dissipate?

[2016-07-02 21:02] cinnamoner commented on #34
@bluedxca93
Okay. You're right. Flat icons are okay for the desktop  environment  but they should  give the illusion of isometric. I call that pseudoisometric. Inasmuch as what normal people means,  I'm confused.

[2016-07-02 21:05] cinnamoner commented on #34
@Guys
Is this a monologue?

[2016-07-02 21:28] cinnamoner commented on #34
I've got nothing more to add. Sleep well.

[2016-07-02 22:10] cinnamoner commented on #34
Note:
The static has been provided by Avast with a userbase of roughly 230.000.000

[2016-07-02 22:33] cinnamoner commented on #34
Futile discussions will be avoided.

[2016-07-02 23:30] cinnamoner commented on #34
@feren
Will the upcoming Skylake from Intel support Linux or not?

[2016-07-03 02:29] Elbullazul commented on #42
@cinnamoner budgie is a fork of gnome-shell, so the actual theme should support it

still some fixes needed thought.

[2016-07-03 02:41] Elbullazul commented on #34
@cinnamoner should support it, it's a derivative of the x86-64 architecture so can't see why it wouldn't support linux

@bluedxca93 cool! I was thinking about it myself but I'm a noob when talking about gui software on linux

[2016-07-03 06:34] cinnamoner commented on #42
@Elbullazul
Cool!

[2016-07-03 09:44] bluedxca93 commented on #34
@Elbullazul
[test_installer.zip](https://github.com/Elbullazul/Windows-10/files/344959/test_installer.zip)
so you can test on ubuntu 64 bit. feed it only with one theme set a time.
requires awk,mktemp,basename I can embedd mktemp and basename but awk will still be required in final version.

[2016-07-03 10:32] feren commented on #34
When you make Windows look awesome:

- Rainmeter Theme Set: Flat Blue Theme
- Theme: Arc (ported by neiio)
- Windows version: Windows 10 TH2

![image](https://cloud.githubusercontent.com/assets/11057934/16544967/b2a4422c-4111-11e6-9e47-4e55717a1351.png)

[2016-07-03 11:59] feren commented on #34
Was just reworking the Store icon...
![store](https://cloud.githubusercontent.com/assets/11057934/16545287/e9006a60-411d-11e6-8026-e908aace4ec6.png)

[2016-07-03 12:36] bluedxca93 commented on #34
@elbullazul it has to be set up active with chmod a+x.
requires basename, mktemp and awk.

On Sun, Jul 3, 2016 at 2:33 PM, Christian Medel <notifications@github.com>
wrote:

[2016-07-03 12:38] bluedxca93 commented on #34
its a .tar.gz archive maked executable with some lines above it. if you
wantr i canalso upload this archive later. uses awk...

On Sun, Jul 3, 2016 at 2:36 PM, Frieder Saugschmerle <
bluedxca93@googlemail.com> wrote:

[2016-07-03 13:40] bluedxca93 commented on #34
No, just run it as a normal  bash script.
awk, maketemp and basename need to be installed.
just extract and run
chmod a+x scriptname
./scriptname
view it in an hex editor or midnight commander to see how it works.

On Sun, Jul 3, 2016 at 2:39 PM, Christian Medel <notifications@github.com>
wrote:

[2016-07-03 15:59] cinnamoner commented on #34
@Guys
Methinks we're a good team.

[2016-07-03 16:02] Elbullazul commented on #34
@bluedxca93 sanitize the input of filename and target directory, i'm flooded with "can't create 'windows': directory exists" and so on for 10 and dark

[2016-07-03 16:05] feren commented on #34
Hmm, seems vivaldi.com and vivaldi.net are DOWN, suspicious...

[2016-07-03 16:09] cinnamoner commented on #34
Oops. @Guys leads to a user I don't know. It happened before with @My Friends.

@ Guys
@ My Friends

[2016-07-03 16:12] bluedxca93 commented on #34
@elbullazul  need an example archive.

Yes i need to sanitize what it prints,
but well it uses a relativley secure way of theme installation.
Not perfect but im working on it, it worked well in all my tests, maybe your archive is slightly different from what i wrote it for.

[2016-07-03 16:12] cinnamoner commented on #34
@feren

What's your theory?

[2016-07-03 16:13] feren commented on #34
dDos, after all, it's a popular browser, Linux Mint is a popular OS, it got dDos'd and it's not like them to put their site offline anyways...

[2016-07-03 16:14] feren commented on #34
@cinnamoner
Well yeah, I did notice that a long while, kept it to myself to see your reaction when you realized. xD

[2016-07-03 16:16] cinnamoner commented on #34
@bluedxca93
Make sure it's perfectly sanitized. I don't want malicious script on my computer. Just kidding.

[2016-07-03 16:20] cinnamoner commented on #34
@feren
Plausible theory. Wait it out.

[2016-07-03 16:53] cinnamoner commented on #34
@fernen
Also, nice store icon. It has launched as many as 3 tabs. Haven't been able to replicate it. Was that some kind of test again? I mean it's a really nice bag for delivering surprises. See, that's why a use one dime a piece devices. I can toss it into the garbage at any given time and fire up the next one.

[2016-07-03 17:16] bluedxca93 commented on #34
@Elbullazul how is the mint desktop manager named ?
lightdm crashes on gtk3.20
@feren  @Elbullazul @cinnamoner
 Please try this and send as  patch to original author:
[ambiance-3-20beta-new.zip](https://github.com/Elbullazul/Windows-10/files/345200/ambiance-3-20beta-new.zip)

[2016-07-03 17:18] cinnamoner commented on #34
@feren
I keep nothing on it. You can take pictures if you want though. You can even hack my accounts, if you want to. It doesn't make any difference. Just kidding, of course. Ease up.

[2016-07-03 17:22] cinnamoner commented on #34
@bluedxca93
The file manager in Cinnamon is called Nemo.

[2016-07-03 17:35] bluedxca93 commented on #34
mdm is what i was searching, can someone please test the fresh
attached here 3-20 ambiance and post a screenshot. it seems to work
nearly perfect now..

[2016-07-03 18:04] feren commented on #34
The store icon is based off of the original one by IncludeThibault which had the logo on it back when it was called 'Zuaro OS' (before I even make it a Linux Distrubution), you can see his original below:
![store old](https://cloud.githubusercontent.com/assets/11057934/16546871/02b8313a-4151-11e6-8181-a754b5b82caf.png)

[2016-07-03 18:08] feren commented on #34
@bluedxca93 Ah can't, I have Xenial Xerus, not Yakkety Yak

PS: Have you tried making sure apport is installed and then running 'ubuntu-bug' followed by the name of the package in that GTK 3.20 Repo giving you the Ambiance theme and then submit it in the bug report created?

[2016-07-03 18:11] cinnamoner commented on #42
@Elbullazul
¡Enhorabuena por el bebé nuevo! (0.9.9)

[2016-07-03 19:00] bluedxca93 commented on #34
@feren tried to contact iainlane(author of 3.20 ambiance) , perhaps he
can merge it himself.
my first port is very much similar to his, so i supose its soon
possible to port an ambiance based theme to 3.20+ more easily.

[2016-07-03 19:47] cinnamoner commented on #34
![c571806e-2c16-11e6-945e-bad362e29761](https://cloud.githubusercontent.com/assets/15638605/16547197/c443983c-416d-11e6-9232-9f22561b3faf.png)

@feren
Is it possible to make standalone themes for StarkMenu? Every time I see this menu, it blows my mind. I've envisioned Win 10 theme + this menu, _exactly as it looks in the screenie_. Everything about W10 is fantastic exept for the menu. Okay perhaps

[2016-07-03 19:51] cinnamoner commented on #34
@Elbullazul
Hmmm? I'm nuts, right?

[2016-07-03 19:58] cinnamoner commented on #34
@ Guys
Just try to imagine it without the taskbar. Replace this taskbar with the W10 taskbar  (in your heads). Wow.

[2016-07-04 11:48] bluedxca93 commented on #34
@elbullazul, bug searched found and fixed in the theme installer script,
uplaoding tmrow.

On Sun, Jul 3, 2016 at 9:58 PM, cinnamoner <notifications@github.com> wrote:

[2016-07-04 12:23] Zerophase opened #43 "gtk-3.20 file in wrong location"
In order to support multiple versions of gtk 3, the versions supported need to be located in the gtk-3.0 folder.

here's an example:
https://github.com/horst3180/arc-theme/tree/master/common/gtk-3.0

[2016-07-04 13:31] cinnamoner commented on #43
@Zerophase
Thank you. The multiple gtk issue always interests me. I hope it'll be addressed pretty soon. I've been thinking about crossing over to Arch or Manjaro but I fear I would easily brake it. Is there a failsafe or something? It might be a stupid question though.

[2016-07-04 13:35] cinnamoner commented on #43
@Zerophase
For example, how do you freeze your Cinnamon version, if you want to? No answer is answer still.

[2016-07-04 13:48] cinnamoner commented on #43
@Zerophase
For what it's worth, I would say this is the best issue in a long time.

[2016-07-04 16:08] cinnamoner commented on #34
@ Guys
I wonder whether you can help me. Let me explain. Eversince Linux Mint 18 Cinnamon Final went live, I'm having a mind orgasm. I thought it will eventually stop. But hey no. Prolonged orgasmic state can kill a person and I'm starting to worry. It's been like several days now that my pulse is on a constant 250 beeps. Just in case I go to greener pastures, I don't wanna miss the oprtunity to s

[2016-07-04 16:50] feren commented on #34
Good luck Cinnamoner! God bless you forever... O.O

[2016-07-04 16:51] feren commented on #34
Themer can now do new things in 2016.2:
1. Can now move the panel
2. Can now change what applets are on the panel
3. (Soon) Can change the cursor

So yeah, LESS customization needed to get the theme's look... ;)

[2016-07-04 17:02] bluedxca93 commented on #34
@feren
could that do 1)2)even a year ago. isn't that complicated. just set up
the values in gsettings/dconf.

[2016-07-04 17:09] feren commented on #34
With GAMBAS it is, because SHELL is wrapped with "", and the values of the GConf settings are wrapped in '', and you need either one to be wrapping the new value, so yeah, pretty hard without using textboxes... :/

[2016-07-04 17:10] feren commented on #34
...also an old way it used to do that has since been deprecated

[2016-07-04 17:12] Elbullazul commented on #34
@bluedxca93 great!

@feren wouldn't the ' symbol contain strings too?

@cinnamoner hope you get well, mint is supposed to be a medical herb not a drug... :smile:

[2016-07-04 17:22] feren commented on #34
' is an alternative version of " in Terminal commands... (It can hold strings in it, but the Cinnamon ones would unwrap afterwards with both symbols somewhere into the data...)

[2016-07-04 17:43] Elbullazul commented on #43
thanks for the tip!

I will make necessary changes then

@cinnamoner manjaro is very nice, and if you use it like you use Mint it shouldn't be a problem (unless you update everything to the newest version available)

I've been thinking about manjaro too

[2016-07-04 17:44] Elbullazul commented on #42
@cinnamoner from what i understand budgie works almost the same way as the regular gnome de with some features added/removed

current TP (0.9.9) supports gnome 3.18, and unless budgie only works with gtk 3.20 it is currently supported

I think I should add 'and derivatives' on the list of supported DEs

[2016-07-04 18:06] bluedxca93 commented on #34
@feren i like escaping its funny.
gambas is also not bad, however i do only work with bash sed grep and
lua. it works great too. no need for python. python is a nightmare for
me.

[2016-07-04 18:08] feren commented on #34
@Elbullazul @cinnamoner
...Must of been the Cinnamon then... XD

[2016-07-04 18:26] Elbullazul commented on #34
@bluedxca93 is python hard to learn or is it some bad experience you've had with it?

[2016-07-04 18:47] bluedxca93 commented on #34
@elbullazul it depends on how you use it and what you use for writing
and your personal preference.Try it out and look at python code then
you see relatively fast if you get it or not.python is one of the
easiest programming languages and well documented. My Problem is i mix
space and tabs and intendation problems so i stopped  using it and
returned to bash and lua etc.

[2016-07-04 19:03] feren commented on #34
Are you still alive @cinnamoner

Please reply... O_O

[2016-07-04 20:01] #38 closed

[2016-07-05 04:37] cinnamoner commented on #34
Yes

[2016-07-05 05:34] cinnamoner commented on #34
@Clem

[2016-07-05 05:50] cinnamoner commented on #34
@clefebvre et al

Congratulations. Fantastic work.

[2016-07-05 20:41] cinnamoner commented on #42
@Elbullazul
Inasmuch as what's the difference between a derivative and a fork there's no clear definition. Yes, include  Budgie as well, please. I don't mind the bulk approach as long there aren't any conflicts between different  DEs codewise.

[2016-07-05 20:53] cinnamoner commented on #42
@Elbullazul
If Solus defines it that way, then it's okay. If not, refer to it as 'Budgie'. If you say 'and derivatives' Budgie' users might not realize it's for them too.

[2016-07-05 21:06] cinnamoner commented on #42
@Elbullazul
Now that you've got Mint 18 Final and the Budgie Remix, nothing holds you back. It might be useful to look into Solus itself though. Perhaps 1.0.0 will be a milestone. No need to rush it though. There's also the gtk issue, pointed out by Zerophaze. Thanks for reading through.

[2016-07-05 21:28] cinnamoner commented on #42
@Elbullazul
I've just noticed your "How to install from source / using the installer" description.

[2016-07-05 22:23] cinnamoner commented on #42
@Elbullazul
Fragmenting the thread is not my intention but I post them as they come. As previously stated, Budgie is essentially made up from the bricks of Gnome 3. As a matter of fact I would dare to say it's Gnome 3 done right. No offence to the fine people who favor Gnome 3 as is though. Personally, I would have taken it a step further and integrated Nemo for a file manager.

[2016-07-05 22:54] cinnamoner commented on #42
@Elbullazul
One little piece of advice, if I may. I would concentrate my efforts on the Windows 10 theme. After all, you haven't labelled it "the key theme" without a reason.

[2016-07-06 09:25] cinnamoner commented on #34
@ Guys
The present thread pushes my divice to the limit. It's a cache think, I guess. No problems anywhere else  but it freezes frequently on this one. Shortage of RAM. I'm cheap so I won't buy a performant one.

[2016-07-06 11:58] cinnamoner commented on #34
@ Guys
This thread is thick. Freezes my phone. Not enough RAM. It's a cache issue, I guess.

[2016-07-06 16:48] bluedxca93 commented on #34
@cinnamoner open a new one please. this one has now 0.2 k comments
with pictures.

[2016-07-06 17:35] cinnamoner commented on #42
@Elbullazul
I don't wanna go to 34 again.

[2016-07-06 17:46] feren commented on #34
OK, see ya there!
*Case Closed*

[2016-07-06 17:46] #34 closed

[2016-07-06 17:47] feren opened #44 "Another Off Topic Discussion (by request)"
_Welcome to Chaos_
_No order or logic required_

[2016-07-06 17:48] feren commented on #44
Here we go again... ;p

[2016-07-06 17:49] feren commented on #44
Now with less lag. :/

[2016-07-06 17:54] bluedxca93 commented on #43
on my pc just 3.20 instead of 3.0 works too.

[2016-07-06 17:54] feren commented on #44
Man, Inspire doesn't half look awesome even on Android:
![2016_07_06_18 51 35](https://cloud.githubusercontent.com/assets/11057934/16628774/04448150-43ab-11e6-8f5d-b0c431a4c41c.png)
![2016_07_06_18 51 45](https://cloud.githubusercontent.com/assets/11057934/16628779/0851b880-43ab-11e6-9b95-e504693b728f.png)
![2016_07_06_18 52 01](https://cloud.githubusercontent.com/assets/11057934/16628785/0d16ae02

[2016-07-06 18:00] bluedxca93 commented on #44
@feren theme ok, but awesome or wonderful is another thing..

[2016-07-06 18:04] Elbullazul commented on #44
Looks cool!  :D

What's the theme app?

[2016-07-06 18:22] feren commented on #44
It has no App yet. It's literally just a config of Nova Launcher! Would be nice if someone made it an icon pack though...

[2016-07-06 18:29] cinnamoner commented on #44
@feren
Thank you man. It pure oxygen. But please try to limit the number of screenies a little. Thank you man you're awesome.

[2016-07-06 18:48] cinnamoner commented on #44
@feren
What kind of icon pack would you need. Please describe it.

[2016-07-06 18:59] cinnamoner commented on #44
@feren
Some of the icons are good but the entire lacks aesthetic coherence. Different styles put together. It would be a disrespect from my part if I lied.

[2016-07-06 19:01] feren commented on #44
Android icon set using the resources from the Inspire icon set. ;)

[2016-07-06 19:07] cinnamoner commented on #44
@feren
I need to think a little. Then I'll try to help.

[2016-07-06 19:23] cinnamoner commented on #44
@feren
So you like Android icons, righ?

[2016-07-06 19:36] cinnamoner commented on #44
@feren
No worries. As soon as I figure out what you're trying to do I'm sure there will be a solution. But you've got to take me slowly.

[2016-07-06 19:39] cinnamoner commented on #44
1. Get rid of Android.

[2016-07-06 19:45] Elbullazul commented on #44
@cinnamoner

2. jailbreak your iPhone :smile:

just kidding...

turns out that gnome-look is having a bit more feedback than what I thought...
https://www.gnome-look.org/p/1013490/
https://www.gnome-look.org/p/1013482/

[2016-07-06 20:00] cinnamoner commented on #44
2. Why do you need this launcher?

[2016-07-06 20:12] Elbullazul commented on #43
@Zerophase can you confirm that placing it in 3.20 really allows it to be read?

on gnome-look they say it's not working

on fedora 24 (ok, it's an alpha release but whatever) it doesn't work either

[2016-07-06 20:12] cinnamoner commented on #44
@feren
3. If you're creating for the desktop, use Stark and Synapse.

[2016-07-06 20:15] cinnamoner commented on #44
@feren
4. If you want to discuss Feren OS, this off-topic thread is not suitable.

[2016-07-06 20:37] cinnamoner commented on #44
@feren
5. How many DEs do you want in Feren OS/Which/Why?

[2016-07-06 20:38] cinnamoner commented on #44
Sorry, this is an example of why you shouldn't create for touch.

[2016-07-06 20:41] cinnamoner commented on #44
@feren
6. Pull in all the good Windows themes, the Mac theme + your theme.

[2016-07-06 20:42] cinnamoner commented on #44
@feren
7. Make use of your StyleChanger (definitely).

[2016-07-06 20:49] cinnamoner commented on #44
and I shall continue after a sign from you. Look, I've been knowing you for long enough to know that you're tremendously gifted. Just focus on what's important and you'll succeed. No doubt about it. I trust you and I believe in you.

[2016-07-06 21:12] cinnamoner commented on #44
@Elbullazul
Coming from Look. Oh no! The guy listed all the gtk warnings. And he's on Sid! This is not the kind of feedback I need. The layout is still stupid. And you're work is still a product. No. No. No.

[2016-07-06 21:28] cinnamoner commented on #44
@Elbullazul
Oh no! Coming from Look again. They haven't made any progress at all. The https is in vain. Hey my theory is still that Look has been hacked. But they should've 're recovered by now. Is there any messaging at least. I refuse to log in.

[2016-07-06 21:38] cinnamoner commented on #43
@Elbullazul
I'll take Zerophase's word anytime instead of Look's.

[2016-07-06 22:23] cinnamoner commented on #44
@feren
Please show yourself. I wanna help. I hope I haven't offended you. I want Feren OS finalised asap.

[2016-07-06 23:09] cinnamoner commented on #44
@feren
I'vs just revisited your page and read the description. Everything seems to be perfect. It's based on Mint Cinnamon. All the good themes are included. And the themed is also included.
Include Stark and Synapse, drop the launcher, drop Android icons, include those reviewed by Charlie. Vivaldi is included. That's good. I think WPS is included as well. Wellcomescreen included. Done deal. Just

[2016-07-07 05:03] Zerophase commented on #43
I could try deleting the 3.0 folder to see if just 3.20 works for reading the files. I think it makes more sense to have multiple versions in the 3.0 folder till the major distributions move up to 3.0.

Now, I do think there are still issues with the 3.20 settings. Not everything looks quite right.

[2016-07-07 05:24] bluedxca93 commented on #43
@zerophrase
have it outside the 3.0 folder in an 3.20 one and it works fine.
see:
https://github.com/bluedxca93/Ambiance-blx-3-20

[2016-07-07 06:28] feren commented on #44
Sorry, was asleep then, yes, I'm just mainly focusing on 2016.2 for now, then some other stuff...

[2016-07-07 06:32] feren commented on #44
@cinnamoner You forgot ONE THING: BUG FIXING

Also, the Paper icon set is there to go with Adapta, a Material Design Inspired GTK Theme that is pretty well coded.

PS:
1. Nova Launcher is NOT MY LAUNCHER
2. That icon set in the picture is no icon set, just a test of Drag Icon > Edit...

[2016-07-07 06:34] feren commented on #44
NOPE. THERE IS NO MESSANGING

[2016-07-07 08:14] cinnamoner commented on #44
@feren
Making a distro is no easy endeavour. Jacque has been doing it for years and it's only now that he's starting to do it right. Lindoz is fine although still has some shortcomings.
You have the advantage of the latecomer. By that I mean you can learn from the mistakes of others.
Okay then. We'll discuss it right here. Just have one thing clear: I would like to take it step by step and not get

[2016-07-07 09:37] cinnamoner commented on #43
@ Guys
Keep it up. This is important.

[2016-07-07 13:54] cinnamoner commented on #44
<iframe width="494" height="278" src="https://www.youtube.com/embed/VS7V6jEfJn0" frameborder="0" allowfullscreen></iframe>

[2016-07-07 14:05] cinnamoner commented on #44
<iframe width="494" height="278" src="https://www.youtube.com/embed/VS7V6jEfJn0" frameborder="0" allowfullscreen></iframe>

[2016-07-07 14:06] cinnamoner commented on #44
[](url)<iframe width="494" height="278" src="https://www.youtube.com/embed/VS7V6jEfJn0" frameborder="0" allowfullscreen></iframe>

[2016-07-07 14:12] cinnamoner commented on #44
https://youtu.be/Cf8g728pyAs

[2016-07-07 15:11] cinnamoner commented on #44
https://youtu.be/93MLmHOysC4

_Best fork of Gnome 3 to date_
Please Mint, detach from Canonical and build a base of your own!

[2016-07-07 15:12] feren commented on #44
feren OS: Cinnamon (in the future, a fork called 'Zuro UI' (Name Not Final)
feren OS Light: LXDE (Yeah...)

[2016-07-07 15:42] cinnamoner opened #45 "Conversation about the feren OS Distro and other things Linux"
_Welcome to Feren OS Discussion Thread_
_Let's practice order and logic or whatever you want to practice_

[2016-07-07 15:56] cinnamoner commented on #44
@feren
Those are fine ideas. But fur now, consider what is realistically doable. There's a dedicated thread. Please do the exposee of Feren OS. Just a summary. Please use simple and plain English. It is not very urgent though. It seems I might be leaving to attend some duties. There's no telling when will I be back, unfortunately. Soon enough, I hope. Thank you.

[2016-07-07 16:17] feren commented on #44
#ferenOS2016.2
New Look for Themer in the new release, aka: Updated Thumbnails and a new white version of the icon inside the UI...

[2016-07-07 20:38] cinnamoner commented on #44
@feren
I'm back from my duties. I've got a splitting headache though.
Good point. LMDE 2 aka Betsy 2 is definitely on my list of eligible distros.
So far, my list encompasses the following distros (the order isn't supposed to tell anything):
1. Mint 18 Cinnamon
2. LMDE (Linux Mint Debian Edition) 2
3. Budgie Remix
4. Soulus (They've designed the Budgie DE and have a base of their own but still com

[2016-07-07 20:44] Elbullazul commented on #44
@cinnamoner you forgot AnemOS...

unless you've changed your mind on it

[2016-07-07 20:47] cinnamoner commented on #44
@feren
Yes, Budgie is a fork of Gnome 3. Haven't stated otherwise. Some say it's a derivative of Gnome 3 but hey, I don't care how it's clasified. I just like it. End of story.

[2016-07-07 20:52] cinnamoner commented on #44
@Elbullazul
No I haven't. I just don't know what happened with it. Maybe you have news from moihack? Although it's an Xfce, I've always liked it.

[2016-07-07 21:00] cinnamoner commented on #44
@Elbullazul
An other Xfce based off of Makulu Xfce 9 is Rocking Hoss. It's a jewel. Do you know it?

[2016-07-07 21:11] cinnamoner commented on #44
@ Guys
I always fancy distros that have something like Makulu Constructor built in.
Mint used to have Mint Constructor but was pulled from the repo after having been abused by some guys. But it hasn't vanished though. It's been modified and is used by SolydKX. It's right here on Git.

[2016-07-07 21:13] cinnamoner commented on #44
What the heck? I guess I'm talking in the desert.

[2016-07-07 21:14] Elbullazul commented on #44
@cinnamoner not yet :smile:

[2016-07-07 21:16] cinnamoner commented on #44
Not yet but pretty soon then.

[2016-07-07 21:22] cinnamoner commented on #44
SystemBack is fine but is not really a constructor. Hard to build hardware-independent distro with it.

[2016-07-07 21:28] cinnamoner commented on #44
Refracta and Remastersys gave birth to Makulu Constructor (constantly changing). Then Constructor was changed into Replicator (by Boyd, of course). Boyd is a brilliant guy. I like him a lot.

[2016-07-07 21:36] cinnamoner commented on #44
Boyd is also mastering bash. Quite frankly, I've never encountered a man like Boyd. Look has broken communication. I must contact him via mail.

[2016-07-07 22:41] cinnamoner commented on #44
@ Guys
_Behold the best Xfce ever_

http://www3.telus.net/someubuntufreebies/

[2016-07-08 06:29] feren commented on #44
Oh my gosh, he's making the CinnXP Icon Set! Can't wait!
https://github.com/petrucci4prez/CinnXP/tree/icon_theme

[2016-07-08 06:47] feren commented on #44
See ya later guys!

[2016-07-08 15:33] feren commented on #44
I'm back.

[2016-07-08 15:51] Elbullazul commented on #44
@feren would you like to have a launcher like in your concept?

![feren-concept](https://bn1301files.storage.live.com/y3mxicQCT4qDAl5uGFUAisKnRyTnFi_aB0nCGgDZLXY5HewAuaOLDyagYKW1_fqrZmJvXL11SdNr4zuC2BL7g1GkdsPNec6h_4i56CbfxMkCBHgEcEin9saxFMZI1XsP1veFtK2-DO0EAQ6jbMiihoTTi3hW3yMcfvdwTglqtk-OR4/App%20Menu%20Installing%20App.png?psid=1&width=800&height=450)

[2016-07-08 16:51] cinnamoner commented on #44
@ Guys. I'm no fanatic. I don't oppose the idea of a launcher. But it's got to be enticing.

[2016-07-08 16:58] feren commented on #44
Yes please! BTW, that page there is "Favourites", the All Apps menu would then be Categories like the Slingshot Launcher and then Search Results would be like Slingshot too... (The Favourites icon is in another concept)

[2016-07-08 17:07] cinnamoner commented on #44
@feren
I'm not just saying I want/like Feren OS to play niceguy. I'm serious. But hey, I've gotta focus.

[2016-07-08 17:13] cinnamoner commented on #44
@feren
No. I don't get it. I know Sling but ... too many words and too fast brakes communication. Take it easy.

[2016-07-08 17:16] cinnamoner commented on #44
@feren
What is what? Where from? What is it? Why? Slow down a little. I'm dense.

[2016-07-08 17:19] cinnamoner commented on #44
@Elbullazul
What is in the picture?

[2016-07-08 17:23] cinnamoner commented on #44
I'll figure it out. Never mind. Carry on.

[2016-07-08 17:33] cinnamoner commented on #44
@feren
Yes 4prez is doing what you say. The key of his success is called method. He doesn't work chaoticly and manages his emotions well.

[2016-07-08 17:41] cinnamoner commented on #44
@feren
Okay. I've read your phrase all over again. I understand it now.

[2016-07-08 17:48] cinnamoner commented on #44
@Elbullazul
Yes, please.

[2016-07-08 18:38] feren commented on #44
So we ARE not the only ones:
https://forum.opendesktop.org/t/can-you-bring-back-private-message/81

[2016-07-08 18:49] cinnamoner commented on #44
@ferns
I never assumed we are the only ones. What are you celebrating though. Is there private messaging?

[2016-07-08 18:51] cinnamoner commented on #44
@feren
Hey, I guess I'm kinda difficult today. Please don't get upset with me.

[2016-07-08 18:51] feren commented on #44
No, I was celebrating because more supporters of the idea = more chance of it coming back sooner. ;)

[2016-07-08 18:52] feren commented on #44
See ya tommorow guys
#ferenCEONeedsSleepLikeAnyoneElseWould

[2016-07-08 20:21] cinnamoner commented on #44
@feren
Sleep well feren CEO. Some day there might exist even a Feren Corporation. One never knows.

[2016-07-08 20:46] Elbullazul commented on #45
@feren @cinnamoner I was kind of planning an eventual ultra flat theme and this menu idea popped up
![20160708_164215](https://cloud.githubusercontent.com/assets/15310985/16701000/37f0e076-452b-11e6-90e7-ebc65d59817a.jpg)
![20160708_164208](https://cloud.githubusercontent.com/assets/15310985/16700999/37f04256-452b-11e6-80ce-47e8a48e7869.jpg)
![20160708_164159](https://cloud.githubusercontent.com/a

[2016-07-09 00:08] cinnamoner commented on #45
@feren
I invite you to tell us your opinion.

[2016-07-09 08:50] feren commented on #44
I'm back! Who knows hey? ;)

[2016-07-09 08:52] feren commented on #45
Nice. For some reason, that menu reminds me of GnoMenu's default skin...

[2016-07-09 08:58] cinnamoner commented on #45
@feren
The question is whether you would like to integrate Elbullazul's design into FerenOS.

[2016-07-09 09:02] feren commented on #45
Possibly, let's see how it turns out first. ;)

[2016-07-09 11:04] cinnamoner commented on #45
@feren
Seems a reasonable answer to me. Thanks.

[2016-07-09 16:58] feren commented on #45
Here comes the new skel configs!

[2016-07-09 17:59] cinnamoner commented on #44
@feren
I've got all it takes. Are you well rested?

[2016-07-09 18:04] feren commented on #44
Yes. ;)

[2016-07-09 18:11] cinnamoner commented on #44
![21f8b97e-2fdc-11e6-9c0d-051e3a7365ba](https://cloud.githubusercontent.com/assets/15638605/16709433/7ecd2c54-4619-11e6-9da6-4ad42d98c5f5.png)
@ Guys
Major update to my list of eligible distros. Just look at that. In conjunction with a W7 theme, Xfce actually makes sense. Is it true that Debian has pulled Compiz from their repo?

[2016-07-09 18:14] cinnamoner commented on #44
@feren
How do you find it?

[2016-07-09 18:25] feren commented on #44
Comfy, that's all to say. ;p

[2016-07-09 18:49] cinnamoner commented on #44
@feren
Nobody wants to take over your work. We just wanna help. But only if you want us to.

[2016-07-09 18:53] cinnamoner commented on #44
@feren
Please decode it for me.

[2016-07-09 19:25] cinnamoner commented on #44
@feren
Probably means: C'mon, I'm fine. As for the rest, I don't really understand coder slang.

[2016-07-09 19:34] cinnamoner commented on #44
@feren
Most people are shallow. As you well know, they will only see the surface. You've gotta give them a good surface.

[2016-07-09 19:44] cinnamoner commented on #45
I'm on it

[2016-07-09 20:00] cinnamoner commented on #44
@feren
Whatever.

[2016-07-09 20:08] cinnamoner commented on #45
@Elbullazul
I've analysed your drawings and thirdeyed it. Looks good to me.

[2016-07-09 20:28] cinnamoner commented on #44
@feren
I'm already a happy guy. I've got all I need and then some. I can only give. End of story.

[2016-07-09 21:48] cinnamoner commented on #45
@feren
Really? Where? Are you having a conversation with yourself?

[2016-07-09 22:28] cinnamoner commented on #45
@Elbullazul
I'm still very much interested in B00merang but not in Feren OS anymore. I take all the blame for having opened this thread. You're design is good but hey the guy is picky! Forget it!

[2016-07-10 07:47] feren commented on #45
Ah oops, sorry man! The wifi died before I could change my status

PS:
1. Yeah, his design is good, I would have ALL his themes in the OS, but then people might not like them themselves, and then there's the problem of ISO size to reckon with as well, also, Longhorn Collaboration is now in the Themer this release ready for when all the themes are done. You always said you wanted 2016,2 to be a hit

[2016-07-10 07:50] feren commented on #44
Ok, I will always accept and have help, sorry if I came out to be picky, I hope you got the reply on the "failed" one...

BTW, in the future, which Discussion shall I post Build updates to, this one, or the "failed" one? PS: Any progress on the menu @B00merang ?

[2016-07-10 07:54] feren commented on #44
PS: I'm actually not kidding with the theme thing, I'm actually for real on having EVERY beautiful theme on the OS, but there again, you can't have to much otherwise the ISO might reach 4+GB which is a no copier for Fat32 Drives... Definetely not looking forward to 2017.X which might replace most current Unsplash wallpapers with others, I know every distro has done it, but, I'd bet most people lov

[2016-07-10 07:57] feren commented on #44
Just going to test the next build, give you enough time to think things through and read my comments, I may not be available for a while, so see you later today! :/

[2016-07-10 09:24] feren commented on #44
I'm back are you guys ok now??

[2016-07-10 09:59] B00merang commented on #44
Hey, I think you accidentally copied me into a conversation. I'm not
involved in any way haha I'm a student atm
On 10 Jul 2016 10:24, "feren" <notifications@github.com> wrote:

I'm back are you guys ok now??

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://github.com/Elbullazul/Windows-10/issues/44#issuecomment-231579425>,
or mute the t

[2016-07-10 10:32] feren commented on #44
Ah oops, wrong B00merang! (>.<) (Darn it, there's b00merang.weebly.com, and then there's another b00merang! Never mind, sorry!)

[2016-07-10 10:35] feren commented on #44
BTW, @cinnamoner , Yeah, ChaletOS does half have a good Windows 7 wanna-be theme included with it, that's if you got that theme from ChaletOS that is... (It definetely looks like it)

[2016-07-10 10:41] feren commented on #44
PS: @B00merang , turns out you and I both are students too! :D

[2016-07-10 11:40] feren commented on #42
Guys,
From what I've seen, the Cinnamon theme is practically done Windows 10 wise, just that it may need editing like any other theme would if Cinnamon actually gets vertical panels. Though about Budgie, the last time I checked something with GNOME 2 Panels (MATE), it had a Solid Black background, no transparency at all, so that might have to be addressed if it's the exact same story in Budgie (if

[2016-07-10 12:34] feren commented on #44
(feren OS Live Session Update)
This is the Video Wallpaper feature in action, so far, it has issues with the panel (it goes in front of the panel most of the time)
![screenshot from 2016-07-10 12-32-23](https://cloud.githubusercontent.com/assets/11057934/16713554/9d9b3a1e-469a-11e6-8caf-de4e0a264974.png)

[2016-07-10 15:07] bluedxca93 commented on #44
@feren video wallpaper interesting feature..
aero for 16.10 by me is most likely done next month.
ambiance for 16.10 stable atm afaik.

[2016-07-10 15:21] feren commented on #44
Video Wallpaper = Shantz's XWinWrap running MPlayer in Full Screen Mode, I got the script from here: http://gnome-look.org/content/show.php/Video+Wallpaper?content=128535

[2016-07-10 15:45] bluedxca93 commented on #44
@feren maybe you can try to use wmctrl. reminds me of stardock dream(s).

[2016-07-10 15:49] Elbullazul commented on #44
@feren post updates here,  apparently the other thread is dead.

Problems with icons?

[2016-07-10 16:01] feren commented on #44
Icons: Not problems yet with Inspire, still trying to make a GIMP icon that suits the icon set while looking good too, also, rebased the icons to elementary to get ALL panel icons here and make programs complete with the icon set (besides that, it doesn't look that different to the old one, just need to resize icons, then boom, done.)

[2016-07-10 16:02] feren commented on #44
@bluedxca
Is wmctrl a window manager, because if it is, it won't work due to Muffin already running?

[2016-07-10 16:42] bluedxca93 commented on #44
@feren https://www.freedesktop.org/wiki/Software/wmctrl/

The wmctrl program is a
UNIX/Linux command line
tool to interact with an
EWMH/NetWM compatible
X Window Manager.

[2016-07-10 16:57] cinnamoner commented on #45
@feren
You perplex me. I've read it all (not just here). It's a flood. You could've said more in less words. For now, it's enough. Please post where Elbullazul has told you to, should you feel the need. You're talented but you need to think and post in an organized manner. Thank you.

[2016-07-10 19:04] cinnamoner commented on #44
@feren
No, it doesn't definitely look like it. You might wanna look more attentively. It's AnemOS by moihack.

[2016-07-10 19:06] feren commented on #44
Oh OK, then I don't know which Distro copied the other with that theme then. :p
I know it doesn't, that's why I said **wannabe** Windows 7 Theme... :)

[2016-07-10 19:08] feren commented on #44
Yeah, when I tried Chalet OS 16.04 Live and tried a Win7 WM theme, it looked just like that WM Theme...

[2016-07-10 19:10] cinnamoner commented on #44
@feren
I started out in Linux by ChaletOS by Dejan though.

[2016-07-10 19:10] feren commented on #45
I know you can't change history, but then, you did kinda put my comment into yours so it isn't completely gone.

[2016-07-10 19:15] feren commented on #44
Wow. I started Linux as an Ubuntu (via WUBI) user, was surprisingly well acquainted with the Unity UI (It was 12.04 LTS that I used)

Fun Facts:
1. I used it more than Windows surprisingly until...
2. ...Then I installed GNOME after making Ubuntu look like Win7 (I actually thought it was GNOME 2 before I actually used it) though in a surprise turn of events, I accidentely turned on Airplane Mode w

[2016-07-10 19:17] cinnamoner commented on #44
@feren
Do you breathe at all while posting?

[2016-07-10 19:17] feren commented on #44
Yep, normal human instinct.

[2016-07-10 19:19] feren commented on #44
From now on, feren OS updates will now have a header on top of the comment (That is

[2016-07-10 19:20] feren commented on #44
Oops, must of pressed it whilst trying to type the previous comment, my bad.

[2016-07-10 19:25] cinnamoner commented on #44
@feren
Just kidding though. Have you read the description of the thread we're on right now?

[2016-07-10 19:26] feren commented on #44
"No description provided"

[2016-07-10 19:29] cinnamoner commented on #44
@feren
Underneath the title.

[2016-07-10 19:29] feren commented on #44
Hey @Elbullazul If you somehow blur the background behind the panel in 3.0 with something like an Extension for Cinnamon, I swere, I'll be the first distribution maker that puts it in feren OS and enables it, In some concepts, the bit behind the panel is always blurred! :D

[2016-07-10 19:30] feren commented on #44
Err, I can't seem to find any other description on this thread... :confused

[2016-07-10 19:35] feren commented on #44
You know what? I've got a better idea for feren OS Updates:
https://github.com/feren/ferenOSProjectUpdates/issues/1

[2016-07-10 19:47] cinnamoner commented on #44
@Elbullazul
It seems alive to me. Man I was upset with feren the other day for turning the repo into a joke. I hope he's learning though.

[2016-07-10 19:50] bluedxca93 commented on #44
@cinnamoner i started linux with using knoppix. but switched soon to
pure debian, and then to gnome2/ubuntu.

@feren any change to add themes for pekwm ? have luna and aero themes
for it on my harddisk somewhere. its powerful once used with
compton.Combined with a panel its a very fast alternative to openbox
or metacity/muffin.

[2016-07-10 20:19] cinnamoner commented on #44
@feren
C'mon. You can do better than that. It's the very first post in this thread. I hope you can see my point. And drop the confusion emoji already. And "remember to always think twice" (by MJ).

[2016-07-10 20:27] cinnamoner commented on #44
@bluedxca93
Feren is a fine young man. It's just he's little hasty at times, isn't he?

[2016-07-10 20:37] cinnamoner commented on #44
@feren
I wanna see your sense of humour. And proof of maturity, please.